body {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  float: none;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #8c8c8c;
  font-size: 30px;
  line-height: 44px;
  font-weight: 400;
  text-align: left;
}
h2 {
  margin-top: 10px;
  margin-bottom: 16px;
  font-family: Supermarket, sans-serif;
  color: #727272;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
}
/*h2:hover {
  color: #ff8e8e;
}*/
h3 {
  margin: 0px;
  font-family: Montserrat, sans-serif;
  color: #745785;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  display: block;
  padding-top: 27px;
  padding-bottom: 41px;
  border-top: 1px solid #ccc;
  font-family: Bitter, serif;
  color: #969696;
  font-size: 15px;
  line-height: 23px;
  text-align: left;
}
.button {
  display: inline-block;
  padding: 18px 21px;
  border: 3px solid white;
  border-radius: 4px;
  background-color: black;
  box-shadow: none;
  -webkit-transition-delay: initial;
  -o-transition-delay: initial;
  transition-delay: initial;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #d15321;
  -webkit-transition-delay: initial;
  -o-transition-delay: initial;
  transition-delay: initial;
}
.button.app-button {
  padding: 8px 17px;
}
.button.study-btn {
  width: 150px;
  height: 32px;
  padding: 24px 119px;
  border-radius: 4px;
  background-color: #e57d22;
  box-shadow: none;
  font-family: Supermarket, sans-serif;
  font-size: 16px;
  line-height: 7px;
}
.section {
  padding-top: 65px;
  padding-bottom: 65px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.section.hero {
  padding-top: 0px;
  padding-bottom: 100px;
  border-bottom-style: none;
  background-color: #69c;
  background-image: url('../images/img-web.png');
  background-size: 100%;
}
.section.white.subfooter {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}
.section.grey {
  background-color: #f5f6f7;
}
.section.grey.footer {
  padding-top: 49px;
  padding-bottom: 49px;
  text-align: center;
}
.section.purple {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #745785;
}
.hero-iphone {
  display: block;
  margin-right: auto;
  margin-bottom: -73px;
  margin-left: auto;
  text-shadow: black 0px 0px 0px;
}
.app-name {
  margin-top: 3px;
  font-family: Montserrat, sans-serif;
  color: #5c5c5c;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.nav-link {
  display: inline-block;
  margin-right: 12px;
  margin-left: 12px;
  padding-top: 0px;
  padding-bottom: 5px;
  float: right;
  border-bottom: 2px solid transparent;
  -webkit-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #8c8b8b;
  font-size: 17px;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link.link-top-login {
  padding: 11px 29px;
  border-radius: 2px;
  background-color: #a0d8ef;
  color: white;
  font-size: 20px;
}
.nav-column {
  text-align: right;
}
.nav-column.top-menu {
  margin-top: 3%;
  margin-bottom: auto;
  padding-right: 0px;
  padding-left: 0px;
}
.hero-header {
  margin-top: 130px;
  margin-bottom: 19px;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 42px;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
}
.hero-subtitle {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.83);
  font-size: 15px;
  line-height: 22px;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
}
.icon-title {
  margin-top: 22px;
  margin-bottom: 12px;
  font-family: Bitter;
  color: #c1adcc;
  font-size: 17px;
  font-weight: 400;
}
.price-text {
  margin-top: 11px;
  background-image: none;
  box-shadow: none;
  color: white;
  font-size: 25px;
  line-height: 28px;
  font-weight: 400;
  text-shadow: none;
}
.logo-in-footer {
  display: block;
  margin-top: 22px;
  margin-right: auto;
  margin-left: auto;
  text-shadow: black 0px 0px 0px;
}
.left-column {
  padding-top: 35px;
  padding-bottom: 35px;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}
.subfooter-right {
  padding-top: 35px;
  padding-bottom: 35px;
  border-right: 1px solid rgba(0, 0, 0, 0.09);
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}
.social-button {
  width: 36px;
  height: 36px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 7px;
  border-radius: 60px;
  background-color: #745785;
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}
.social-button:hover {
  background-color: #f02e4e;
}
.blog-link {
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Bitter, serif;
  color: #fa875b;
  font-size: 18px;
  font-style: italic;
  text-decoration: none;
}
.blog-link:hover {
  color: #ff5917;
}
.footer-link {
  margin-left: 8px;
  border-bottom: 1px solid rgba(131, 125, 153, 0.34);
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Bitter, serif;
  color: #837d99;
  text-decoration: none;
}
.footer-link:hover {
  border-bottom: 1px solid rgba(131, 125, 153, 0.86);
}
.footer-text {
  display: inline;
}
.center {
  text-align: center;
}
.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Supermarket, sans-serif;
}
.social-widget {
  display: inline-block;
  margin-top: 17px;
  margin-right: 14px;
}
.text-link {
  color: #745785;
  text-decoration: none;
}
.text-link:hover {
  text-decoration: underline;
}
.button-block {
  margin-top: 17px;
}
.logo {
  margin-right: 12px;
  float: left;
}
.container-full {
  margin-right: 10%;
  margin-left: 10%;
}
.gray-row {
  padding-top: 5%;
  padding-bottom: 5%;
  border-bottom: 5px solid #ccc;
  background-color: #69c;
  opacity: 1;
}
.course-head {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Supermarket, sans-serif;
  color: white;
  text-align: center;
}
.course {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: #76abd6;
}
.course:hover {
  box-shadow: none;
  cursor: pointer;
}
.course-image {
  background-color: #e6e6e6;
  text-align: center;
}
.course-name {
  padding-left: 16px;
  padding-right:16px;
  border-bottom: 7px none #f28658;
  font-family: Supermarket, sans-serif;
  color: #f8aabf;
  font-size: 21px;
}
.course-name:hover {
  color:  #f8aabf;
  cursor: pointer;
}
.text-study {
  margin-bottom: 60px;
  padding-top: 10px;
  font-family: Supermarket, sans-serif;
  color: white;
  font-size: 24px;
  text-align: center;
}
.icon-how {
  padding-right: 114px;
  padding-left: 114px;
}
.how-colum {
  text-align: center;
}
.how-label {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}
.how-image {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 0px;
  padding-left: 55px;
}
.how-img-col1 {
  height: 279px;
  background-image: url('../images/icon-news.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.how-head {
  margin-top: 1px;
  padding-top: 128px;
  text-align: center;
}
.images-course {
  width: 100%;
}
.head-how {
  font-family: Supermarket, sans-serif;
  color: #8c8b8b;
  font-size: 30px;
  text-align: center;
}
.head-how.how-des {
  margin-top: 3%;
  font-family: Supermarket, sans-serif;
  color: #8c8b8b;
}
.white-row {
  margin-top: 76px;
  margin-bottom: 39px;
  border-radius: 16px;
}
.how-row {
  margin: 3% 0%;
}
.how-box {
  margin-right: 44px;
  margin-left: 44px;
  padding: 33px 37px;
  border: 5px solid white;
  border-radius: 2px;
  text-align: center;
}
.how-box:hover {
  margin-right: 44px;
  margin-left: 44px;
  padding: 33px 37px;
  border: 5px solid #e8e8e8;
  border-radius: 2px;
  background-color: #f7f7f7;
}
.how-box.hover {
  color: #f00000;
}
.how-subject {
  position: absolute;
  display: inline-block;
  width: 100%;
  margin: 40% auto 45%;
  padding-top: 0px;
  background-color: black;
  color: #6e6e6e;
  text-align: center;
}
.how-title {
  position: absolute;
  width: 80%;
  margin-top: 33%;
  margin-right: 10%;
  margin-left: 17%;
  background-color: transparent;
  font-family: Supermarket, sans-serif;
  color: #8d8b8f;
  font-size: 23px;
}
.how-text {
  color: black;
}
.how-detail {
  font-family: Supermarket, sans-serif;
  color: #e57d22;
  font-size: 20px;
}
.text-center {
  padding-top: 3px;
  padding-bottom: 10px;
  background-color: transparent;
  font-size: 45px;
  text-align: center;
}
.text-center.invite-text {
  font-family: Supermarket, sans-serif;
  color: #8c8b8b;
  font-size: 24px;
  font-weight: 400;
}
.invite-btn {
  margin-top: 39px;
  padding: 6px 115px;
  border-radius: 4px;
  background-color: #f28658;
  box-shadow: none;
  font-family: Supermarket, sans-serif;
  line-height: 38px;
}
.text-button {
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
}
.button-text {
  padding: 16px 56px;
  border-radius: 4px;
  background-color: #f28658;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.button-study {
  padding-top: 84px;
  text-align: center;
}
.button-course {
  padding: 18px 83px;
  border: 4px none white;
  border-radius: 2px;
  background-color: #5886a0;
  color: white;
  font-size: 23px;
  text-decoration: none;
}
.button-course:hover {
  background-color: #77b2ed;
}
.bg-login {
  margin-top: 42px;
  padding-right: 30px;
  padding-left: 30px;
  float: right;
  background-color: white;
}
.footer {
  background-color: #1b1b1b;
  opacity: 1;
}
.text-course {
  margin-bottom: 36px;
  padding-top: 6px;
  padding-right: 16px;
  padding-left: 16px;
  border-top-style: none;
  color: #c2e9ff;
  font-size: 12px;
  text-align: left;
}
/*.text-course:hover {
  color: white;
}*/
.button-course-icon {
  display: inline;
  padding: 12px 23px;
  float: none;
  border-radius: 2px;
  background-color: #5886a0;
  color: #69c;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.button-course-icon:hover {
  background-color: #77b2ed;
  color: white;
}
.block-button {
  padding-bottom: 40px;
  text-align: center;
}
.footer-icon {
  padding-top: 27px;
  padding-bottom: 27px;
  border-top: 1px solid #69c;
  background-color: #141414;
  opacity: 1;
}
.all-icon {
  text-align: right;
}
.icon-so {
  padding-left: 7px;
}
.block-login {
  width: 80%;
  margin-top: 126px;
  padding: 14px 27px 25px;
  border-radius: 4px;
  background-color: white;
  box-shadow: none;
  opacity: 1;
}
.button-login {
  display: block;
  width: 100%;
  margin-top: 53px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 2px;
  background-color: #69c;
  opacity: 1;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}
.bg-button-login {
  display: block;
  text-align: left;
}
.password {
  border-radius: 2px;
  background-color: white;
}
.head-text {
  border-top-style: none;
  color: white;
  font-size: 17px;
}
.block-header {
  text-align: center;
}
.name-course {
  margin-bottom: 92px;
  padding-top: 54px;
  font-family: Supermarket, sans-serif;
  color: white;
  font-size: 50px;
  text-align: center;
}
.text-course-head {
  margin-bottom: 60px;
  padding-top: 14px;
  font-family: Supermarket, sans-serif;
  color: white;
  font-size: 20px;
}
.block-img {
  text-align: center;
}
.banner {
  background-color: #69c;
}
.show-course {
  padding-bottom: 40px;
}
.course-all {
  text-align: center;
}
.explicate-course {
  padding: 0px 47px 21px 0px;
  border-top-style: none;
  font-family: Supermarket, sans-serif;
  text-align: left;
}
.explicate-course:hover {
  color: white;
}
.head-course {
  display: block;
  margin-bottom: 0px;
  padding-top: 12px;
  font-family: Supermarket, sans-serif;
  color: #83a637;
  font-size: 24px;
  text-align: left;
}
.head-course:hover {
  color: white;
}
.block-course {
  width: 70%;
  min-height: 150px;
  margin: 63px auto 63px 163px;
  padding-right: 35px;
  padding-left: 0px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f7f7f7;
}
.icon-vdo {
  padding-top: 17px;
  padding-right: 0px;
  padding-left: 24px;
  text-align: center;
}
.name-course-pay {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #83a637;
  font-family: Supermarket, sans-serif;
  color: white;
  font-size: 28px;
  text-align: center;
}
.price-course {
  padding-top: 16px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #83a637;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
.blvck-pay {
  padding-right: 240px;
  text-align: center;
}
.pay-course {
  margin-top: 63px;
  margin-right: auto;
  margin-bottom: 0px;
  padding-bottom: 44px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.explain-vdo {
  margin-bottom: 38px;
  padding-top: 16px;
  font-family: Supermarket, sans-serif;
  color: #969696;
  font-size: 18px;
  line-height: 32px;
}
.button-pay {
  padding: 7px 66px;
  border: 2px solid #83a637;
  border-radius: 4px;
  font-family: Supermarket, sans-serif;
  color: #83a637;
  font-size: 18px;
  text-decoration: none;
}
.img-teacher {
  padding-top: 29px;
}
.teacher-tw {
  padding-right: 4px;
  padding-left: 4px;
}
.teacher-google {
  padding-right: 4px;
}
.block-icon {
  padding-top: 33px;
  padding-bottom: 0px;
}
.name-teacher {
  margin-bottom: auto;
  color: #83a637;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.instructor {
  padding-top: 3px;
  padding-bottom: 15px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
}
.teacher-block {
  margin-top: 57px;
  padding-bottom: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.courseall {
  width: 100%;
  text-align: center;
}
.course-study {
  width: 60%;
  margin-bottom: 50px;
  margin-left: 367px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f7f7f7;
  text-align: center;
}
.course-study:hover {
  background-color: #69c;
  color: white;
}
.course-vdo {
  width: 100%;
  padding-top: 70px;
  text-align: center;
}
.lesson-vdo {
  text-align: left;
}
.head-vdo {
  display: block;
  margin-bottom: 50px;
  padding-left: 292px;
  font-family: Supermarket, sans-serif;
  color: #83a637;
}
.vdo-play {
  padding-top: 19px;
  padding-bottom: 92px;
  background-color: #545454;
}
.text-head-vdo {
  padding-bottom: 13px;
  font-family: Supermarket, sans-serif;
  color: #83a637;
  text-align: left;
}
.block-head-vdo {
  width: auto;
  float: none;
  text-align: left;
}
.button-back {
  display: inline-block;
  margin-top: 16px;
  padding-bottom: 0px;
  color: #828282;
  font-size: 18px;
  text-decoration: none;
}
.text-footer {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #69c;
  font-size: 12px;
}
.arrow-next {
  display: inline-block;
  width: 50px;
  height: auto;
  padding-top: 100%;
  float: none;
  text-align: left;
}
.img-arrow-next {
  padding-top: 221px;
}
.logo-header {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14%;
  float: left;
  text-align: center;
}
.text-login {
  text-align: center;
}
.arrow-next-vdo {
  margin-top: 100%;
  padding-left: 20px;
  float: none;
}
.arrow-back {
  margin-top: 100%;
  float: right;
  text-align: left;
}
.name-vdo {
  display: block;
  padding-top: 18px;
  padding-bottom: 10px;
  font-family: Supermarket, sans-serif;
  color: #83a637;
  font-size: 34px;
}
.backto-course {
  margin-left: 20%;
  float: none;
  font-family: Supermarket, sans-serif;
  font-size: 24px;
}
.logo-web {
  text-align: center;
}
.address {
  font-family: Supermarket, sans-serif;
  color: #6e6e6e;
  font-size: 19px;
}
.footer-img1 {
  text-align: right;
}
.footer-img2 {
  text-align: center;
}
.footer-img {
  padding-top: 31px;
  padding-bottom: 31px;
}
.logo-footer {
  margin-bottom: -39px;
  padding-top: 16px;
  padding-bottom: 30px;
  text-align: center;
}
.logo-footer.logo-footer-last {
  margin-bottom: 4px;
}
.logo-footer.logo-footer-first {
  margin-top: 22px;
  margin-bottom: -31px;
}
.img-logo-footer {
  padding-right: 20px;
  padding-left: 20px;
}
.logo-footer2 {
  margin-top: -12px;
  margin-bottom: 40px;
  padding-top: 0px;
  text-align: center;
}
.block-receipts {
  padding-bottom: 67px;
  background-color: #fcfcfc;
}
.day {
  margin-top: 45px;
  margin-left: 25px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #83a637;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
}
.week {
  margin-left: 25px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #83a637;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
}
.month {
  margin-left: 25px;
  color: #83a637;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
}
.course-receipts {
  margin-top: 74px;
  padding-left: 0px;
  background-color: #efefef;
  color: #efefef;
}
.day-money {
  margin-top: 45px;
  padding-right: 15px;
  float: none;
  color: #8c8c8c;
  font-size: 26px;
  font-weight: 400;
  text-align: right;
}
.week-money {
  padding-right: 15px;
  color: #8c8c8c;
  font-size: 26px;
  font-weight: 400;
  text-align: right;
}
.month-money {
  padding-right: 15px;
  font-size: 26px;
  text-align: right;
}
.text-course-pay {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  float: none;
  border-right: 1px solid #dbdbdb;
  border-top-style: none;
  border-top-width: 0px;
  text-align: left;
}
.header-course {
  padding-top: 16px;
  color: #83a637;
  font-size: 26px;
}
.course-free:hover {
  color: #a87faa;
}
.icon-pay:hover {
  color: #62951e;
}
.back-courses {
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 4px;
  background-color: #6e6e6e;
  font-family: Supermarket, sans-serif;
  color: #9a9a9a;
  font-size: 20px;
  text-align: center;
}
.back-courses:hover {
  color: white;
}
.arrow-course {
  text-align: right;
}
.img-arrow {
  padding-top: 0px;
  padding-bottom: 9px;
}
.header-link {
  display: inline-block;
  padding: 8px 17px;
  color: #ccc;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
.header-link:hover {
  border-radius: 5px;
  background-color: #fce6e6;
  box-shadow: #d1d1d1 0px 1px 3px 0px;
  color: #7d7979;
}
.header-right-colum {
  margin-top: 35px;
  margin-bottom: auto;
  padding-top: 0%;
  text-align: right;
}
.logo-facebook {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 1%;
  background-image: url('../images/teacher-fb-icon.png');
}
.icon-social {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 1%;
}
.icon-social.icon-twitter {
  background-image: url('../images/teacher-tw-icon.png');
}
.icon-social.icon-youtube {
  background-image: url('../images/y.png');
}
@media (max-width: 991px) {
  h2 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
    line-height: 21px;
  }
  .section.hero {
    padding-top: 34px;
    padding-bottom: 1px;
  }
  .hero-iphone {
    text-shadow: black 0px 0px 0px;
  }
  .hero-header {
    font-size: 38px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .hero-subtitle {
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .course-head {
    font-size: 34px;
    line-height: 43px;
  }
  .course {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .course-name {
    margin-bottom: 0px;
    padding-bottom: 4px;
    padding-left: 11px;
    font-size: 18px;
    text-align: left;
  }
  .images-course {
    width: 100%;
  }
  .how-box {
    padding-right: 0px;
    padding-left: 0px;
  }
  .how-subject {
    margin-top: 62px;
    margin-left: 0px;
    font-size: 18px;
  }
  .how-title {
    margin-top: 35%;
    margin-right: 7%;
    margin-left: 7%;
    font-size: 15px;
  }
  .how-detail {
    line-height: 32px;
  }
  .text-course {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 10px;
  }
  .button-course-icon {
    padding: 11px 6px;
    font-size: 11px;
  }
  .block-login {
    box-shadow: none;
  }
}
@media (max-width: 767px) {
  h2 {
    margin-top: 0px;
  }
  .button.study-btn {
    margin-top: 22px;
  }
  .section {
    padding-top: 33px;
    padding-bottom: 33px;
    text-align: center;
  }
  .section.hero {
    padding-right: 38px;
    padding-bottom: 52px;
    padding-left: 38px;
    text-align: center;
  }
  .hero-iphone {
    margin-bottom: 1px;
    text-shadow: black 0px 0px 0px;
  }
  .app-name {
    display: inline-block;
    margin-bottom: 0px;
  }
  .nav-column {
    padding-top: 22px;
    text-align: center;
  }
  .nav-column.top-menu {
    margin-top: 2%;
    padding-top: 0px;
  }
  .hero-header {
    margin-top: 30px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .price-text {
    margin-bottom: 31px;
    box-shadow: none;
    text-shadow: none;
  }
  .subfooter-right {
    border-top: 1px solid rgba(0, 0, 0, 0.09);
  }
  .center {
    padding-top: 23px;
    padding-bottom: 23px;
  }
  .navbar {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
  }
  .social-widget {
    margin-right: 11px;
    margin-left: 11px;
  }
  .logo {
    display: inline-block;
    margin-top: -6px;
    float: none;
  }
  .course-head {
    font-size: 29px;
  }
  .course {
    width: 60%;
    margin-right: auto;
    margin-bottom: 29px;
    margin-left: auto;
  }
  .course-name {
    text-align: left;
  }
  .how-image {
    width: 80%;
  }
  .head-how {
    text-align: center;
  }
  .how-box {
    margin-bottom: 22px;
  }
  .how-subject {
    width: 80%;
    margin-top: 35%;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 30px;
    text-align: center;
  }
  .how-title {
    margin-top: 30%;
  }
  .text-center.invite-text {
    font-size: 18px;
  }
  .all-icon {
    text-align: center;
  }
  .block-login {
    box-shadow: none;
  }
  .header-right-colum {
    text-align: center;
  }
}
@media (max-width: 479px) {
  h3 {
    font-size: 18px;
    line-height: 23px;
  }
  .section {
    text-align: center;
  }
  .section.white {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .hero-iphone {
    text-shadow: black 0px 0px 0px;
  }
  .nav-column.top-menu {
    margin-top: 6%;
  }
  .hero-header {
    font-size: 32px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .price-text {
    font-size: 23px;
  }
  .course-head {
    font-size: 27px;
  }
  .course {
    width: 100%;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
  }
  .course:hover {
    box-shadow: none;
  }
  .course-name {
    text-align: left;
  }
  .text-study {
    font-size: 19px;
  }
  .head-how {
    text-align: center;
  }
  .how-box:hover {
    margin-left: auto;
  }
  .how-subject {
    margin-top: 29%;
    margin-bottom: auto;
    margin-left: 0px;
    font-size: 18px;
    text-align: center;
  }
  .how-title {
    margin-top: 28%;
  }
  .how-detail {
    font-size: 12px;
    text-align: center;
  }
  .text-center.invite-text {
    font-size: 16px;
    line-height: 28px;
  }
  .button-study {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .button-course-icon {
    padding: 16px 34px 15px;
    font-size: 14px;
  }
  .block-button {
    padding-top: 7px;
  }
  .all-icon {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .block-login {
    width: 100%;
    box-shadow: none;
  }
  .address {
    font-size: 14px;
  }
  .header-link {
    font-size: 15px;
  }
  .header-right-colum {
    text-align: center;
  }
}

@font-face {
  font-family: 'Supermarket';
  src: url('../fonts/supermarket.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Supermarket webfont';
  src: url('../fonts/supermarket-webfont.woff') format('woff'), url('../fonts/supermarket-webfont.svg') format('svg'), url('../fonts/supermarket-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
