body {
  background-color: #E0ECF8;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}
h3 {
  margin-top: -2px;
  margin-bottom: 10px;
  float: none;
  color: #686868;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
}
h4 {
  margin-top: 6px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 7px;
  padding-left: 8px;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  width: auto;
  margin-top: -10px;
  margin-bottom: 5px;
  padding: 0px 0px 9px 7px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #9c9c9c;
  font-size: 12px;
}
.button {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}
.button.facebook-button {
  display: inline-block;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #4d759c;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button.facebook-button:hover {
  background-image: -webkit-linear-gradient(#7398bd, #4d759c);
  background-image: -o-linear-gradient(#7398bd, #4d759c);
  background-image: linear-gradient(#7398bd, #4d759c);
}
.button.grey-button {
  margin-left: 10px;
  padding: 6px;
  border-radius: 2px;
  background-color: #d4d4d4;
  color: #545454;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  text-shadow: #a6a4a4 1px 1px 6px;
}
.button.grey-button:hover {
  background-image: -webkit-linear-gradient(#fafafa, #e0e0e0);
  background-image: -o-linear-gradient(#fafafa, #e0e0e0);
  background-image: linear-gradient(#fafafa, #e0e0e0);
}
.button.admin-info-btn {
  padding: 7px;
  border: 1px solid #db6f27;
  border-radius: 2px;
  background-color: #f37521;
  color: #ffe8e8;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
.button.admin-info-btn.admin-big-more {
  background-color: #ed6a13;
}
.button.admin-info-btn.admin-margin-btn {
  margin-right: 3px;
}
.button.admin-info-btn.admin-margin-btn.admin-actve-btn {
  border-color: #db272d;
  box-shadow: #966b6b 0px 0px 1px 0px;
}
.header {
  background-color: white;
}
.hero-unit-section {
  padding-top: 60px;
  padding-bottom: 9px;
  background-color: #efede0;
  color: #333;
}
.feature-course-section {
  padding-top: 35px;
  padding-bottom: 80px;
  background-color: #f6f5ed;
}
.footer-bg1 {
  margin-bottom: 13px;
  border-right: 1px solid #525252;
  background-color: #3e3e3e;
}
.text-footer2 {
  padding-top: 19px;
  color: #9c9c9c;
}
.footer-bg3 {
  padding-bottom: 22px;
}
.footer-header {
  padding-top: 9px;
  padding-bottom: 4px;
  color: #c2c2c2;
  font-size: 16px;
}
.footer-text {
  margin-top: -1px;
  margin-bottom: 9px;
  padding-right: 10px;
  font-size: 13px;
}
.footer {
  padding-top: 34px;
  padding-bottom: 34px;
  background-color: #3e3e3e;
}
.footer-logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.login-signup-form {
  margin-right: 51px;
  margin-left: 51px;
  background-color: #e3e3e3;
}
.input-fields {
  padding: 12px;
  background-color: #f5f5ed;
}
.facebook-connect-section {
  padding: 18px 12px 12px;
  background-color: #f5f5ed;
}
.or-symbol {
  background-color: #f5f5ed;
  color: #a8a0a0;
  font-size: 12px;
  text-align: center;
}
.input-textfield {
  height: 27px;
  border-radius: 3px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
}
.button-signup {
  margin-top: 6px;
  padding: 9px 17px;
  float: right;
  border-radius: 2px;
  background-color: #f37521;
  color: white;
}
.button-signup:hover {
  background-image: -webkit-linear-gradient(#faac78, #f37521);
  background-image: -o-linear-gradient(#faac78, #f37521);
  background-image: linear-gradient(#faac78, #f37521);
}
.course-thumbnail {
  border-radius: 2px;
  background-color: white;
  box-shadow: #8c8c8c 1px 1px 3px 0px;
}
.course-thumbnail:hover {
  box-shadow: #8c8c8c 0px 3px 15px 0px;
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  -o-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}
.course-detail {
  border-radius: 3px;
  background-color: white;
}
.course-image {
  width: 100%;
  border-radius: 3px 3px 0px 0px;
}
.course-overview-detail {
  width: 100%;
  padding-top: 9px;
  padding-bottom: 29px;
  font-size: 16px;
}
.course-overview-title {
  color: #f37521;
  text-align: center;
  text-shadow: white 0px 2px 1px;
}
.course-overview-section {
  padding-bottom: 20px;
  background-color: #f6f5ed;
  color: #f6f5ed;
}
.course-content {
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #f37521;
}
.lesson-item {
  margin-left: 14px;
  padding-top: 13px;
}
.lesson-mark {
  display: inline;
  float: left;
}
.lesson-text {
  display: inline;
  margin-left: 9px;
  float: none;
  color: #686868;
  font-size: 16px;
  text-align: left;
}
.lesson-name {
  display: inline-block;
  width: 80%;
  margin-left: 14px;
  color: #686868;
  font-size: 16px;
  font-style: normal;
}
.content-overview-section {
  margin-top: 20px;
  border-right: 1px solid #dedede;
  border-left-style: solid;
  border-left-width: 0px;
  box-shadow: none;
}
.lesson-content {
  margin-bottom: 30px;
  padding-top: 10px;
}
.lesson-item {
  padding-top: 24px;
  border-bottom: 1px dashed #dedede;
}
.lesson-item.lesson-item-box {
  border-bottom-style: none;
}
.course-info-section {
  padding-top: 20px;
}
.course-overview-price {
  color: #686868;
  font-size: 20px;
}
.bg-textcontent-vdo {
  margin-top: 30px;
  padding-right: 0px;
  padding-left: 0px;
  border: 1px solid #dedede;
  border-radius: 2px;
  background-color: #f5f5ed;
  box-shadow: #d1d1d1 1px 1px 3px 0px;
  color: #f5f5ed;
}
.bg-pagestudy {
  margin-bottom: 30px;
  color: #efeddf;
}
.course-content {
  padding-top: 0px;
  padding-right: 47px;
  font-size: 20px;
  text-shadow: white 0px 2px 1px;
}
.detail-lesson {
  float: none;
  clear: none;
  color: #686868;
}
.detail-lesson:hover {
  color: #f37521;
}
.detail-lesson.detail-lesson-sub {
  display: inline-block;
  margin-left: 2%;
  font-size: 11px;
}
.icon-lesson {
  padding-right: 10px;
  float: left;
}
.lesson-all {
  margin-right: 12px;
  margin-left: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: none;
  border-bottom: 1px solid #ccc;
}
.lesson-all.active-lesson {
  background-color: #e9eddd;
}
.lesson-all.lesson-active {
  background-color: #e8e8e8;
  box-shadow: #d1ecf0 0px 0px 6px 0px;
  font-size: 14px;
  font-weight: 700;
}
.hear-lesson-vdo {
  margin-top: 32px;
  color: #f37521;
  font-size: 18px;
}
.lesson1-study {
  margin: 14px;
}
.bg-explanation {
  padding-top: 15px;
}
.explanation {
  margin-top: 0px;
  padding-top: 33px;
  color: #686868;
  font-size: 16px;
}
.nav-lesson {
  display: inline-block;
  height: 19px;
  min-width: 20px;
  margin-right: 10px;
  float: left;
  background-image: url('../images/icon-vdo.png');
  background-size: auto;
  background-repeat: no-repeat;
}
.nav-lesson:hover {
  background-image: url('../images/icon-vdo-hover.png');
}
.price-label {
  margin-left: 10px;
  color: #686868;
  font-size: 14px;
  text-align: left;
}
.review-count {
  color: #686868;
  font-size: 13px;
  text-align: center;
}
.student-label {
  float: none;
  color: #686868;
  font-size: 13px;
}
.price-number {
  padding-left: 10px;
  color: #5d951f;
  font-size: 15px;
  text-align: left;
}
.review-course {
  margin-right: 11px;
  margin-bottom: 9px;
  padding-top: 4px;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(217, 204, 204, 0.72);
}
.instructor-pic {
  margin-left: 7px;
  padding-left: 0px;
}
.instructor-name {
  color: #686868;
  font-size: 11px;
  font-weight: 700;
}
.instructor-institute {
  color: #686868;
  font-size: 11px;
}
.instructor-section {
  text-align: center;
}
.instructor-thumbnail {
  margin-top: 20px;
}
.instructor-detail {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
}
.instructor-name {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #f37521;
  font-size: 16px;
  font-weight: 400;
}
.instructor-profile {
  margin: 9px 34px 2px;
  padding-bottom: 17px;
  border-bottom: 1px solid #dbdbdb;
  text-align: left;
}
.learners-label {
  padding-top: 13px;
  color: #f37521;
  font-size: 16px;
}
.learner-image {
  margin-top: 9px;
  padding-right: 6px;
}
.major-lesson {
  padding-bottom: 7px;
  padding-left: 0px;
  color: white;
}
.page-title {
  margin-top: 70px;
  color: #f37521;
}
.page-description {
  margin-top: 15px;
  color: #686868;
  font-size: 24px;
  text-align: center;
}
.background-lesson {
  padding-top: 1px;
  background-color: #7ea6ab;
  box-shadow: #b0b0b0 1px 1px 3px 0px;
  color: #f5f5ed;
}
.button-download {
  margin-top: -12px;
  margin-left: -7px;
  padding: 0px 9px 0px 26px;
  float: right;
  border-radius: 4px;
  background-color: #f37521;
  background-image: -webkit-linear-gradient(#659ecc, #2b577c);
  background-image: -o-linear-gradient(#659ecc, #2b577c);
  background-image: linear-gradient(#659ecc, #2b577c);
  box-shadow: #949494 1px 1px 3px 0px;
  color: white;
  font-size: 9px;
  font-style: normal;
  text-align: left;
  text-decoration: none;
}
.bg-pay-header {
  height: auto;
  margin-top: 30px;
  margin-right: 17px;
  margin-left: 17px;
  padding-top: 45px;
  padding-bottom: 16px;
  background-color: #f5f5ed;
}
.review-lesson {
  padding: 9px 18px;
  float: right;
  border-radius: 2px;
  background-color: #f37521;
  color: white;
  text-decoration: none;
}
.review-lesson:hover {
  background-image: -webkit-linear-gradient(#f08e4d, #f37521);
  background-image: -o-linear-gradient(#f08e4d, #f37521);
  background-image: linear-gradient(#f08e4d, #f37521);
}
.div-button {
  padding-top: 100px;
  float: right;
}
.course-progress {
  margin-bottom: 40px;
}
.instructor {
  margin-top: -8px;
  padding-top: 0px;
  color: #686868;
  font-size: 12px;
}
.bg-title-exercise {
  padding: 18px;
  float: none;
  background-color: #f5f5ed;
}
.exercise-icon {
  float: left;
}
.title-exercise {
  padding-top: 12px;
  padding-bottom: 0px;
  padding-left: 49px;
  float: none;
}
.bg-page-exercise {
  margin-top: 9px;
  padding: 18px;
  background-color: #f5f5ed;
}
.name-exercise {
  font-size: 18px;
}
.command-exercise {
  padding-top: 0px;
  padding-bottom: 18px;
}
.department-eng {
  margin-top: 28px;
}
.icon-exercise {
  padding-top: 15px;
  padding-bottom: 0px;
}
.progress-bg {
  position: relative;
  left: 0px;
  top: 76px;
  bottom: 0px;
  height: 15px;
  border-radius: 60px;
  background-color: #d3ccc2;
  box-shadow: #707070 1px 1px 3px 0px inset;
}
.progress-level {
  width: 50%;
  height: 15px;
  border-radius: 60px;
  box-shadow: #5c280a 1px 1px 3px 0px inset;
}
.progress-level.orange-level {
  background-color: #fc7a30;
}
.progress-level.yellow-level {
  width: 25%;
  background-color: #ffdb63;
}
.progress-level.cyan {
  width: 75%;
  background-color: #37d1bb;
}
.progress-level.dark-cyan {
  background-color: #2e7980;
}
.answer {
  width: 0%;
  height: 18px;
  margin-top: -10px;
  margin-left: 21px;
  padding-top: 0px;
  padding-right: 5px;
  padding-left: 12px;
  float: left;
}
.answer-text {
  margin-bottom: -9px;
  margin-left: 51px;
  padding-top: 0px;
  float: none;
}
.form-answer {
  padding-top: 14px;
}
.answer-bg {
  margin-top: -24px;
  padding-top: 0px;
}
.login-signup-panel {
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  background-color: #f5f5ed;
}
.signup-tab {
  display: inline-block;
  width: 50%;
  height: 32px;
  padding: 4px 15px;
  background-color: #f6f6f6;
  color: #686868;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}
.signup-tab.active {
  border-style: solid solid none;
  border-width: 1px;
  border-color: #d9d9d9 #d9d9d9 #f5f5ed;
  background-color: #f5f5ed;
}
.login-tab {
  display: inline-block;
  width: 50%;
  height: 32px;
  padding: 4px 15px;
  border: 1px solid #efede0;
  color: #686868;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}
.login-tab.inactive {
  border-top: 1px solid #efede0;
  border-bottom: 1px solid #d9d9d9;
  border-right-width: 1px;
  background-color: #efede0;
}
.login-tab.inactive:hover {
  border-left: 1px solid #d9d9d9;
  border-top-color: #d9d9d9;
  border-right-style: solid;
  border-right-color: #d9d9d9;
  background-color: #f7f7f0;
}
.student-count {
  color: #686868;
  font-size: 13px;
}
.student-data {
  text-align: center;
}
.review-data {
  text-align: center;
}
.instructor-data {
  padding-bottom: 10px;
}
.course-data {
  margin-right: 10px;
  margin-left: 10px;
}
.title-courses {
  color: #f37521;
  font-size: 26px;
  font-weight: 400;
}
.title-instructor {
  color: #686868;
}
.title-price {
  margin-top: 0px;
  color: #f37521;
  font-weight: 400;
}
.title-courses-price {
  color: #686868;
  font-size: 18px;
  text-align: center;
}
.bg-detail {
  margin-bottom: 49px;
  padding-top: 28px;
  background-color: #f5f5ed;
}
.bg-pay {
  border-left: 1px solid #d6d6d6;
}
.pay-name {
  padding-bottom: 35px;
  color: #686868;
}
.pay-number {
  padding-bottom: 35px;
  color: #686868;
}
.pay-class {
  padding-bottom: 35px;
  color: #686868;
}
.pay-expiration-date {
  padding-bottom: 35px;
  color: #686868;
}
.pay-csc {
  padding-bottom: 35px;
  color: #686868;
}
.pay-all {
  padding-top: 30px;
  color: #686868;
  font-size: 18px;
}
.pay-fill-bar {
  height: 28px;
  padding-bottom: 9px;
}
.pay-fill-number {
  height: 28px;
  margin-top: 27px;
}
.pay-fill-csc {
  height: 28px;
  margin-top: 140px;
}
.pay-courseall {
  padding-top: 30px;
  float: right;
  color: #686868;
  font-size: 18px;
}
.bg-detail-pay {
  margin-top: -49px;
  background-color: #f5f5ed;
}
.pay-all-line {
  border-top: 1px solid #d6d6d6;
}
.pay-courseall-line {
  border-top: 1px solid #d6d6d6;
}
.button-buy {
  padding: 9px 22px;
  float: right;
  border-radius: 2px;
  background-color: #f37521;
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.button-cancle {
  padding: 9px 22px;
  float: left;
  border-radius: 2px;
  background-color: #878787;
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.bg-button-buy {
  margin-bottom: 32px;
  padding-top: 44px;
  padding-bottom: 39px;
  background-color: #f5f5ed;
}
.course-apply-button {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 9px 18px;
  border-radius: 2px;
  background-color: #f37521;
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.course-apply-button:hover {
  background-image: -webkit-linear-gradient(#eda26f, #f37521);
  background-image: -o-linear-gradient(#eda26f, #f37521);
  background-image: linear-gradient(#eda26f, #f37521);
}
.lesson-number {
  margin-top: -29px;
  margin-left: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: white;
  font-size: 16px;
}
.all-course-button {
  padding: 10px 17px;
  float: right;
  border-radius: 2px;
  background-color: #f37521;
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.all-course-button:hover {
  background-image: -webkit-linear-gradient(#faac78, #f37521);
  background-image: -o-linear-gradient(#faac78, #f37521);
  background-image: linear-gradient(#faac78, #f37521);
}
.content-button {
  margin-top: 28px;
}
.pic-dowload {
  margin-top: -9px;
  margin-right: -14px;
  padding-right: 0px;
  float: right;
}
.course-thumbnail-title {
  color: #6b6b6b;
}
.page-title-section {
  padding-bottom: 18px;
}
.course-status-group {
  padding-top: 20px;
  color: #686868;
  text-align: center;
  text-decoration: none;
}
.course-status-link {
  color: #686868;
  font-size: 19px;
  text-decoration: none;
}
.course-status-link:hover {
  color: #a8a8a8;
}
.progress-section {
  margin-top: 40px;
  margin-bottom: 40px;
}
.course-apply-section {
  text-align: center;
}
.coupon-link {
  display: block;
  color: #686868;
  font-size: 13px;
  text-decoration: none;
}
.learners-section {
  text-align: center;
}
.brand-position {
  padding-top: 9px;
  padding-left: 24px;
}
.menu {
  color: #4a4949;
}
.menu:hover {
  color: rgba(51, 51, 51, 0.56);
}
.teach-menu {
  color: #f26b11;
  font-style: normal;
}
.teach-menu:hover {
  color: rgba(242, 107, 17, 0.70);
}
.email-signup-label {
  margin-bottom: 8px;
  color: #9c9898;
  text-align: center;
}
.copyright {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #6e6e6e;
  text-align: center;
}
.footer-link {
  color: #9c9c9c;
  font-size: 13px;
  text-decoration: none;
}
.footer-link:hover {
  color: #dbdbdb;
  text-shadow: #666 1px 1px 6px;
}
.footer-ending {
  padding-top: 28px;
}
.form-login-signup {
  display: block;
  width: 100%;
  clear: none;
}
.input-fields-login {
  padding: 12px;
  border-right: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  background-color: #f5f5ed;
}
.email-login {
  padding-bottom: 10px;
  color: #9c9898;
  text-align: center;
}
.input-text {
  height: 27px;
  border-radius: 2px;
}
.or-bar {
  border-right: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  background-color: #f5f5ed;
  color: #9c9898;
  text-align: center;
}
.form-page-login {
  width: 35%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  float: none;
}
.facebook-connect {
  padding: 18px 12px;
  border-right: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  background-color: #f5f5ed;
}
.stamp {
  position: absolute;
  display: block;
  margin-top: -13px;
  padding-top: 0px;
  padding-left: 111px;
  text-align: right;
}
.sub-detail-lesson {
  padding-top: 6px;
  padding-right: 5%;
  padding-left: 5%;
}
.admin-page {
  margin-top: 5%;
  margin-bottom: 3%;
  color: #474747;
}
.course-name {
  text-align: center;
}
.img-course {
  width: 80%;
  margin-right: 0%;
  margin-left: 0%;
  padding-right: 0%;
  padding-left: 0%;
  border-radius: 0px;
  box-shadow: black 0px 0px 6px 0px;
}
.text-center {
  margin-bottom: 5%;
  text-align: center;
}
.text-center.admin-btn-long {
  margin-top: 29px;
}
.text-center.admin-stat-content {
  margin-top: 5%;
}
.menu-admin {
  padding: 4px;
  border: 1px solid #ccc;
  background-color: #e6e5e3;
}
.list-menu {
  margin: 13px;
}
.admin-submenu {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  border-style: none none solid solid;
  border-bottom-width: 2px;
  border-bottom-color: #c9c9c9;
  border-left-width: 6px;
  background-color: transparent;
  text-align: left;
}
.admin-submenu.admin-active-menu {
  border-left-color: #d63848;
  background-color: #dee0e0;
}
.admin-content {
  padding: 13px;
  border: 1px solid #ccc;
  background-color: #e6e5e3;
}
.admin-head {
  padding-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: #c9c9c9;
  font-size: 28px;
  font-weight: 700;
}
.admin-student-box {
  margin: 7px;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #dee0e0;
  box-shadow: #9e7878 0px 0px 1px 0px;
  text-align: center;
}
.admin-student-box:hover {
  box-shadow: #1c1616 0px 0px 1px 0px;
}
.admin-profile-pic {
  height: 150px;
}
.amdin-profile-photo {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.admin-img-profile {
  margin-top: auto;
  margin-bottom: auto;
}
.admin-person-info {
  margin-top: 10px;
  font-size: 13px;
  text-align: left;
}
.admin-left-label {
  color: #d63848;
}
.admin-info-btn {
  margin-top: 14px;
  margin-bottom: 10px;
}
.admin-row-user {
  margin-top: 2%;
  margin-bottom: 2%;
}
.admin-teacher-btn-group {
  text-align: right;
}
.admin-inline-box {
  display: inline-block;
  margin-right: 3px;
  font-size: 11px;
  text-align: left;
}
.admin-inline-box.admin-inactive-teacher {
  color: #bdbbbb;
}
.text-left {
  text-align: left;
}
.admin-top-menu {
  margin-top: 3px;
  margin-bottom: 3px;
  padding-right: 10px;
  padding-left: 10px;
}
.admin-top-menu-link {
  margin-right: 0px;
  margin-left: 0px;
  padding: 7px 12px;
  color: #616161;
  text-decoration: none;
}
.admin-top-menu-link:hover {
  background-color: #e0d3d3;
}
.admin-top-menu-link.admin-active-topmenu {
  border-radius: 3px;
  background-color: #e0d3d3;
  box-shadow: #9c8c8c 0px 1px 3px -1px;
  font-weight: 700;
}
.user-colum {
  padding-top: 0px;
}
.admin-user-comment {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 50px;
  height: 50px;
  margin: 5% auto 2%;
}
.admin-coment-row {
  margin-top: 3%;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
}
.admin-comment-name {
  color: #d63848;
}
.admin-coment-date {
  font-size: 10px;
}
.admin-comment-prefix {
  color: #878787;
  font-size: 12px;
}
.admin-comment-message {
  color: #4a4a4a;
}
.admin-user-progress-show {
  margin-top: 5%;
  margin-bottom: 5%;
}
.admin-user-info-progress {
  margin: 18px;
  color: #2e2e2e;
  text-align: center;
}
.admin-img-progress {
  width: 90%;
  max-height: 200px;
  max-width: 200px;
  margin-bottom: 10%;
  border: 5px solid #e8d5d5;
  border-radius: 10px;
  box-shadow: #806e6e 0px 2px 6px 0px;
}
.admin-text-margin {
  margin-top: 3px;
}
.admin-progress-detail {
  text-align: left;
}
.admin-progress-heading {
  font-size: 16px;
  text-align: left;
}
.admin-course-info {
  text-align: left;
}
.admin-content-active {
  margin-top: 12px;
}
.admin-h5-black {
  color: #474747;
}
.admin-box-auto {
  margin: auto;
}
.inside {
  margin-top: 18px;
  margin-bottom: 15px;
  color: #f37521;
  font-size: 16px;
  text-align: center;
}
.lecture {
  margin-left: 34px;
  padding-bottom: 6px;
  color: #9c9c9c;
  font-size: 14px;
  text-align: left;
}
.vdo-lectures {
  margin-left: 34px;
  color: #9c9c9c;
  font-size: 14px;
  text-align: left;
}
.lesson-list-div {
  margin-top: 3px;
  margin-bottom: 0px;
  padding-bottom: 8px;
  padding-left: 55px;
  border-bottom: 1px none #ccc;
}
.lesson-line {
  padding-top: 4px;
  padding-bottom: 9px;
  border-bottom: 1px dashed #c4c4c4;
}
.lesson-preview {
  display: inline-block;
  width: 4%;
}
.lesson-time {
  display: inline-block;
  width: 13%;
  text-align: right;
}
.sub-lesson-name {
  padding-right: 5px;
  padding-left: 21px;
  color: #686868;
  line-height: 11px;
}
.lesson-subname {
  display: inline-block;
  width: 80%;
  padding-left: 14px;
}
@media (max-width: 991px) {
  p {
    width: 168px;
  }
  .button.facebook-button {
    margin-top: 0px;
  }
  .hero-unit-section {
    padding-top: 28px;
    padding-bottom: 0px;
  }
  .feature-course-section {
    padding-bottom: 35px;
  }
  .footer-text {
    width: 235px;
  }
  .login-signup-form {
    margin-right: 16px;
    margin-left: 16px;
  }
  .input-fields {
    padding-top: 0px;
    padding-bottom: 6px;
  }
  .facebook-connect-section {
    padding-top: 12px;
    padding-bottom: 0px;
  }
  .or-symbol {
    padding-top: 6px;
    font-size: 12px;
  }
  .button-signup {
    margin-top: -2px;
    margin-bottom: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .course-thumbnail {
    margin-right: 9px;
    margin-left: 9px;
  }
  .lesson-text {
    color: #686868;
  }
  .lesson-name {
    color: #686868;
  }
  .explanation {
    width: 100%;
  }
  .instructor-institute {
    padding-right: 2px;
    font-size: 10px;
  }
  .instructor-name {
    font-size: 12px;
  }
  .view-all-course-button-section {
    padding-bottom: 13px;
  }
  .email-signup-label {
    padding-top: 2px;
    font-size: 13px;
  }
  .form-page-login {
    width: 45%;
  }
  .admin-comment-message {
    width: 100%;
  }
}
@media (max-width: 767px) {
  h4 {
    text-align: center;
  }
  p {
    width: 183px;
  }
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .course-thumbnail {
    margin: 0px 49px 49px;
  }
  .course-overview-detail {
    padding-bottom: 0px;
  }
  .course-overview-title {
    margin-top: 28px;
  }
  .lesson-name {
    margin-top: -29px;
    margin-left: 44px;
    padding-top: 0px;
  }
  .content-overview-section {
    margin-top: 0px;
    box-shadow: none;
  }
  .explanation {
    width: auto;
    padding-left: 32px;
    text-align: left;
  }
  .price-label {
    font-size: 18px;
    text-align: center;
  }
  .student-label {
    font-size: 18px;
  }
  .price-number {
    font-size: 18px;
    text-align: center;
  }
  .instructor-institute {
    font-size: 14px;
  }
  .instructor-detail {
    text-align: center;
  }
  .instructor-name {
    font-size: 16px;
  }
  .instructor-profile {
    width: auto;
  }
  .button-download {
    margin-right: -18px;
  }
  .student-count {
    min-width: 0px;
    font-size: 18px;
  }
  .student-data {
    padding-top: 9px;
  }
  .instructor-data {
    text-align: center;
  }
  .view-all-course-button-section {
    padding-bottom: 32px;
    text-align: center;
  }
  .price-data {
    margin-top: -7px;
    font-size: 14px;
    text-align: center;
  }
  .all-course-button {
    display: inline-block;
    padding: 21px;
    float: none;
    font-size: 26px;
  }
  .vdo-course {
    margin-left: 18px;
    text-align: left;
  }
  .course-thumbnail-title {
    font-size: 18px;
  }
  .copyright {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .footer-ending {
    padding-top: 0px;
  }
  .nav-sidebar {
    background-color: #f7f1ed;
    color: #c27878;
  }
  .form-page-login {
    width: 50%;
  }
  .lesson-list-div {
    padding-left: 0px;
    line-height: 13px;
  }
}
@media (max-width: 479px) {
  .header {
    padding-top: 3px;
    padding-bottom: 0px;
  }
  .feature-course-section {
    margin-top: 0px;
    padding-right: 18px;
    padding-left: 18px;
  }
  .course-thumbnail {
    height: auto;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
    text-align: left;
  }
  .course-image {
    width: 100%;
    text-align: left;
  }
  .lesson-text {
    font-size: 11px;
  }
  .explanation {
    width: 100%;
  }
  .price-label {
    font-size: 15px;
  }
  .student-label {
    font-size: 15px;
  }
  .price-number {
    font-size: 15px;
  }
  .review-course {
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .instructor-institute {
    font-size: 12px;
  }
  .instructor-name {
    margin-bottom: auto;
    font-size: 14px;
  }
  .student-count {
    font-size: 15px;
  }
  .student-data {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .all-course-button {
    padding: 12px;
    font-size: 18px;
  }
  .course-thumbnail-title {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 17px;
  }
  .form-page-login {
    width: 90%;
  }
  .lesson-list-div {
    margin-top: 5px;
    font-size: 5px;
  }
  .lesson-time {
    width: 22%;
  }
  .sub-lesson-name {
    font-size: 13px;
    line-height: 18px;
  }
  .lesson-subname {
    width: 70%;
    font-size: 13px;
  }
}

@font-face {
  font-family: 'Supermarket webfont';
  src: url('../fonts/supermarket-webfont.eot') format('embedded-opentype'), url('../fonts/supermarket-webfont.woff') format('woff'), url('../fonts/supermarket-webfont.ttf') format('truetype'), url('../fonts/supermarket-webfont.ttf') format('truetype'), url('../fonts/supermarket-webfont.ttf') format('truetype'), url('../fonts/supermarket-webfont.svg') format('svg'), url('../fonts/supermarket-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Supermarket';
  src: url('../fonts/supermarket.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.logo-web {
  text-align: center;
}

.logo-header {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14%;
  float: left;
  text-align: center;
}

.hero-header {
  margin-top: 130px;
  margin-bottom: 19px;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 42px;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
}

.header-link:hover {
border-radius: 5px;
background-color: #fce6e6;
box-shadow: #d1d1d1 0px 1px 3px 0px;
color: #7d7979;
}

.header-link {
  display: inline-block;
  padding: 8px 17px;
  color: #ccc;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.header-right-colum {
  margin-top: 35px;
  margin-bottom: auto;
  padding-top: 0%;
  text-align: right;
}

.footer-icon {
padding-top: 27px;
padding-bottom: 27px;
border-top: 1px solid #69c;
background-color: #141414;
opacity: 1;
}

.logo-footer {
padding-top: 40px;
padding-bottom: 30px;
text-align: center;
}

.logo-footer2 {
margin-top: -12px;
margin-bottom: 40px;
padding-top: 0px;
text-align: center;
}

.logo-footer {
padding-top: 40px;
padding-bottom: 30px;
text-align: center;
}

.address {
font-family: Supermarket, sans-serif;
color: #6e6e6e;
font-size: 19px;
}

.all-icon {
text-align: right;
}
.navbar{
    background: white;
}