/*@font-face {
    font-family: 'supermarketregular';
    src: url('../fonts/supermarket.eot');
    src: url('../fonts/supermarket.eot?#iefix') format('embedded-opentype'),
         url('../fonts/supermarket.woff') format('woff'),
         url('../fonts/supermarket.ttf') format('truetype'),
         url('../fonts/supermarket.svg#supermarketregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
 
     font-family: supermarketregular;
     word-wrap:break-word;
     height: available;
   
    
}

.supermarget{
     font-family: supermarketregular !important;
}

.redactor_frame,iframe,iframe.redactor_frame{
    font-family: supermarketregular !important;
}*/

.how-box:hover .suggest-1{
    color: #ff8e8e;
}

.how-box:hover .suggest-2{
    color: #a87faa;
}

.how-box:hover .suggest-3{
    color: #62951e;
}


.how-box:hover p{
    color: #797979;
}

.course-box:hover .button-course-icon{
    background-color: #77b2ed;
    color: white;
}

/*.course-box:hover .course-name{   
    color: #c2e9ff;
}

.course-box:hover .text-course{   
    color: #fff;
}*/

.navbar {
 margin-bottom: 0px !important;
}

.course-img{
    max-height: 250px;
}
.name-course-pay{
    display: block !important;
}

.block-course:hover{
    background-color: #69c;
    color: white;
}

.block-course:hover p,.block-course:hover .head-course{   
    color: white;
}

.teacher-detail{
    border-top: 0px !important;
    padding: 5px;
    
}

#payment-box{
    margin: 3% auto;
    width: 70%;
    padding: 2%;
    border: 1px solid #ccc;
    background-color: white;
    
}

.form-box{
    margin: 0 auto;
    width: 70%;
    padding: 2%;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
}

.errorSummary p {
    display: block;
    padding-top: 27px;
    padding-bottom: 3px;
    border-top: 1px solid #ccc;
    font-family: Bitter, serif;
    color: #969696;
    font-size: 15px;
    line-height: 23px;
    text-align: left;
    color: red;
}

.head-form{
    text-align: center;
    width: 100%;
    margin-bottom: 1%;
}
.teacher-photo{
    max-height: 200px;
}


.chkBoxlist {
    font: 13px Arial, Helvetica, Sans-serif;
}
#some_file_queue {
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    height: auto;
    min-width: 40px;
    margin: 0 auto;
    margin-bottom: 5px;
    /*overflow: auto;*/
    padding: 5px 10px;
    width: 70%px !important;


}
.uploadify-queue-item{
    margin :0 auto;
}

.wait-approve{
    background: #FFFFE0 !important;
}

.approve-list{
    color: gray !important;
    font-size: 10px;
    text-decoration: none !important;
    
}

.approve-link,.approve-link-new{
    background-color: #eb9316;
 
    padding: 1px 3px;
    border-radius: 1px;
    color: white;
    text-shadow: none;
    font-weight:bold;
    font-size: 10px;
}

.approve-link:hover,.approve-link-new:hover{
  border: 1px solid orange;
}


.approve-list-inside{
    font-size: 10px;
    background-color: #FCFEE9 !important;
    width: 100%;
    padding: 3px 5px;
    margin: 0 auto;
    border-top: 1px dashed #ccc;
    line-height:20px;
        
}

.lesson-text{
    color:white !important;
    margin-top: 2%;
    border: 0 !important;
}

.gray-text{
    color:gray;
}

.content-name{
     line-height:10px !important;
}

.project-list,#project-list_wrapper{
    display: inline-block;
    text-align: left !important;
    margin-left: 0px !important;
    width: 100%;
}

.course-study:hover,.active-lesson {
    background-color: #69c;
}
.course-study:hover .head-course,.course-study:hover .explicate-course,.active-lesson .head-course,.active-lesson .explicate-course{
    color: white !important;
}



.user-info-menu{
    background-color: white;
    border: 1px solid #ccc;
    padding: 2%;
    padding-left: 5%;
    width: 80%;
    border-radius: 5px;
    margin: 0 auto;
    
}

.user-form{
    background-color: white;
    border: 1px solid #ccc;    
    padding: 3% 5% 3% 5%;
    
    border-radius: 5px;
    margin: 0 auto;
}

.lesson-all:hover{
    background-color: #E3E3E3;
}
.menu-user{
    font-size: 18px;
    padding: 3% 1%;
}

.menu-list{
    margin-bottom: 7%;
}
.red-text{
    color: red;
}
.errorSummary p {
    border: 0 !important;
}
.dashboard{    
    padding: 5% 2%;
    
}

.course-progress{
    background-color: #efefef;
    padding: 3% 0;
    margin-bottom: 2%;
}

.course-progress:hover{
    border: 1px solid #ccc;
}

.progress-course{
    color: blue;
    
}

.dashboard-head{
    color: #69c;
    font-weight: bold;
}
.dashboard-continue{
    margin: auto auto;
}

.progress-section{
    background: #fcfcfc;
}

.has-approve{
    color: #f0ad4e;
    font-size: 0.85em;   
    padding: 0;
    margin: 0;
    margin-bottom: 2%;
    border: 0px !important;
}
.admin-dashboard-photo{
    padding-right: 2% !important;
  
}

.admin-dashboard-list{
    margin-bottom: 2%;
    background: #efefef;
}

.nav-pills{
    margin-top: 2%;
}
.course-receipts{
    background: none !important;
}
.stat-std-access{
    color: gray;
    margin-top: 3%;
    padding-left: 3%;
}

.day,.day-money {
    margin-top: 0px;
    margin-left: 25px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #83a637;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
}

.stat-dashboard{
    color: gray;
    width: 80%;
    margin-left: 5%;
}

.stat-dashboard tr{
    border-bottom: 1px dotted #ccc;  
}
.stat-dashboard tr:hover{
    border-bottom: 1px soild #ccc;  
    
}

.col-dashboard{
    width: 30%;
}

.col-dashboard-value{
    width: 70%;
    text-align: right;
}
.blue-text{
    color: #428bca;
}

.course-timeline{
    color: white;
}

.progress {
    border-radius: 16px;
    box-shadow: none; 
    background-image: -webkit-linear-gradient(top, #d3ccc2 10%, #d3ccc2 100%);
    background-image: linear-gradient(to bottom, #d3ccc2 10%, #d3ccc2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3ccc2', endColorstr='#d3ccc2', GradientType=0);
    background-repeat: repeat-x;
}

.progress-bar {
    background-image: -webkit-linear-gradient(top, #428bca 0%, #428bca 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #428bca 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
    background-repeat: repeat-x;
}

.text-center {
padding-top: 3px;
padding-bottom: 10px;
background-color: transparent;
font-size: 12px;
text-align: center;
}

.editable-lecture{
   margin-left: 5%!important;
   width: 90%;
}

p {

    padding-top: 2px !important;
    padding-bottom: 2px !important; 
    border-top: 0px !important; 


}

.course:hover{
    box-shadow: 3px 3px 2px #5886a0;
}

.access-btn {
    padding: 10px 30px;
    border: 4px none white;
    border-radius: 2px;
    background-color: #5886a0;
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 30px auto;
    /*display: block;*/
    text-align: center;
    display: inline-block;
}

.access-btn:hover {
    background-color: #77b2ed;
}

.button-pay {
    padding: 5% 8% !important;

}

.button-pay:hover{
    background-color: #83a637;
    color: white;
}

.blvck-pay {
    padding-right: 5%;

}

.logo-facebook:hover{
    background-image: url('../images/f-h.png');
}
.icon-social.icon-twitter:hover{
    background-image: url('../images/w-h.png');
}

.icon-social.icon-youtube:hover{
background-image: url('../images/icon-youtube2.png');
}

.student-stat-dashboard{
     width: 90% !important;
     margin-right: 1%;
}
.student-stat-dashboard h1{
    font-size: 1em !important;
   
}

.stat-std-access.star-with-price{
    font-size: 1.2em;
}

.student-stat-access{
    border-right: 1px dashed #ccc;
    
}
.summary{
    color: #69c;
}

.approve-link:hover{
   cursor: pointer;
}

.block-user{
    background-color: #F8E0EC !important;
}

.error{
    color: red !important;
}

.green-text{
    color: green;
}
