.user-tab{
    width:50% !important;
    text-align: center;
}
.admin-link{
    height: 42px !important;
}

.new-course:hover{
    -moz-box-shadow: 0 0 5px 5px #FF9933;
    -webkit-box-shadow: 0 0 5px 5px #FF9933;
    box-shadow: 0 0 5px 5px #FF9933;
}

.dropdown-toggle img{
    width: 20px;
    height: 20px;
    overflow: hidden;
}
.flag:first-child{
    margin: 0 12px 0 0;
}
.flag:hover{
    -moz-box-shadow: 0 0 2px 2px #FF9933;
    -webkit-box-shadow: 0 0 2px 2px #FF9933;
    box-shadow: 0 0 2px 2px #FF9933;
   
}
#coupon:hover{
    -moz-text-shadow: 2px  2px 2px #66CC99;
    -webkit-text-shadow: 2px  2px 2px #66CC99;
    text-shadow: 2px  2px 2px #66CC99;
}
.progress-button{
	height:41.5px !important;
}
.btn-next{
    line-height:12px !important; 
    padding-bottom:12px !important; 
    height: 42px !important;
    width: auto;
}
.note{
    display: block;
    font-size: 14px;
}

.button-link{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 30px;   
    
}

/*gride view*/
.grid-view table.items tr.even
{
	background: #FFFFCC !important;
        height:35px !important;
}

.grid-view table.items tr.odd
{
	background: #CCFFCC !important;
         height:35px !important;
}
.vdo-block{
    display: block;
}



.errorSummary{
    color: red;
    background-color: #FFB6C1;
    box-shadow: 0 0 5px 1px #ddd;
    border: 1px solid red;
    line-height: 5px !important;
    padding-top: 15px !important;
    padding-bottom: 5px !important;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px !important;
    
}
/*.errorSummary ul li{
    line-height: 5px !important;
    padding-top: 15px !important;
    padding-bottom: 2px !important;
}*/


.correct-answer{
    box-shadow: 1px 1px 1px greenyellow !important;
    background-color: #CCFFCC !important;
}

.correct-des{
    color: green;
    font-weight: bold;
    display: inline;
    margin-left: 15px;
}
.delete-question{
    margin: 10px 10px 10px 10px;
    text-align: right;
    display: block;
    
}
.del-ans:hover{
    
    
}

.error-alert-info {
    color: red;
    background-color: #FFB6C1;
    box-shadow: 0 0 5px 1px #ddd;
    border: 1px solid red;
    line-height: 5px !important;
    padding-top: 15px !important;
    padding-bottom: 2px !important;
  
}

ul.question li.question-first
{
    list-style-image:url('../images/button/ques.png');
    margin-left: 5%;
    list-style-position:outside;
}


ul.question li{
    list-style:none;
    margin-left: 9%;
    margin-bottom: 2px;
    line-height: 0;
}

li.question{
    
   
}

span.question{
     background-image: url('../images/button/question-small.png');
      background-repeat: no-repeat;
      padding-left: 30px;  /* width of the image plus a little extra padding */
      display: inline; 
}

question-link{
    display: block;
    text-align: right;
    float: right;
   
}

.result-exercise{
    font-weight:bold;
}

.result-exercise span{
    font-weight:normal;
    margin-left: 20px;
}

#chart_div{
    margin: 0 auto;
    text-align: center;
    
}

.right-box{
    float: right;
    text-align: right;
 
}

.center{
    text-align: center;
    margin: 0px auto;
}


span.excercise-content{
      /*list-style-image:url('../images/button/pencil.png');*/
     background-image: url('../images/button/pencil.png');
      background-repeat: no-repeat;
      padding-left: 30px;  /* width of the image plus a little extra padding */
      display: inline; 
      
}
span.content{

      background-image: url('../images/button/paper.png');
      background-repeat: no-repeat;
      padding-left: 30px;  /* width of the image plus a little extra padding */
      display: inline; 
      
}


span.code-lesson{
     background-image: url('../images/button/code.png');
      background-repeat: no-repeat;
      padding-left: 30px;  /* width of the image plus a little extra padding */
      display: inline; 
      
}


.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }


li#user_link a{
    font-size: 15px !important;
    color:#666 !important;
    font-family: 'supermarketregular' !important;
}


li#user_link hr{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.search-box{
    text-align: center;
    margin: 0 auto;
}
.search-box button{
    margin: 0 auto;
    text-align: center !important;
}
.btn-green-submit-box {
	margin-top:3px; 
	border:1px solid #678F35; 
	box-shadow:0 1px #e9ffce inset; 
	-moz-box-shadow:0 1px #e9ffce inset;
	-webkit-box-shadow:0 1px #e9ffce inset; 
	background: #74a03c; 
	background-image: url(../images/bg-noise.png); /* fallback */ 
	background-image: url(../images/bg-noise.png), 
	-webkit-gradient(linear, left top, left bottom, from(#98d051), to(#74a03c)); /* Saf4+, Chrome */ 
	background-image: url(../images/bg-noise.png), -webkit-linear-gradient(top, #98d051, #74a03c); /* Chrome 10+, Saf5.1+ */ 
	background-image: url(../images/bg-noise.png), -moz-linear-gradient(top, #98d051, #74a03c); /* FF3.6+ */ 
	background-image: url(../images/bg-noise.png), -ms-linear-gradient(top, #98d051, #74a03c); /* IE10 */ 
	background-image: url(../images/bg-noise.png), -o-linear-gradient(top, #98d051, #74a03c); /* Opera 11.10+ */ 
	background-image: url(../images/bg-noise.png), linear-gradient(top, #98d051, #74a03c); /* W3C */ 
	displayx:block; /*width:125px;*/ 
	height:45px; 
	padding:15px; 
	font-family:'supermarketregular'; 
	letter-spacing:1px; 
	font-size: 22px; 
	color:#fff; 
	text-shadow:0 1px 0 #000; 
}


.center-box{
    text-align: center;
    margin: 0 auto;
    
}

ul.question li.correct, span.correct{
    color: #3a87ad;
    font-weight: bold;
}

ul.question li.uncorrect, span.uncorrect{
    color:#ee5f5b;
    font-weight: bold;
}

.hint{
    padding-left: 22px;
    font-weight: bold;
    color:#FF9933; 
}

.hint-answer{
    background-color: #CCFFCC;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 2px;
}

.vdo-editor, .vdoplayer{
    background-color: black !important;
    width: auto !important;
    
}
.jwplayer{
    width: auto !important;
}



audio{
    width: 90%;
    display: block;
    margin: 0 auto;
    
}


.cloud-box{
    width: 30%;
    /*height: 20%;*/
    overflow: hidden;
    /*box-shadow: 3px 3px 5px #888888;*/
    display: inline-block;
    text-align: center;
    /*border:1px solid #696969;*/
    padding: 5px 2px 2px 2px;
    margin: 2px 10px 6px 10px;
    
        
}

.cloud-box .item{
    width: auto;
    height: auto;
    
    /*box-shadow: 3px 3px 5px #888888;*/
    
}


.cloud-box .item:hover,.fancybox-thumb img:hover, .video-preview:hover{
     /*border:1px solid #696969;*/
     box-shadow: 5px 5px 5px #9ACD32;
}

item-box{
    text-align: center;
    margin: 0 auto;
    display: block;
    width: auto;
}

.cloud-box .manage {
    margin-top: 10px;
    
}

.cloud-box .manage a{
    margin: 0 5px 0 5px;
    
}

.right-box button{
   float: right;
   display: block;
}

.button-right{
    float: right !important;
    display: block;
    width: 100%;
    
}

.ifram-video{
    margin: 0 auto;
    text-align: center;     
}
.slide-show{
    overflow: hidden !important;
}

.caption-pic{
    height: 200px;
    overflow: hidden;
}

.caption-pic h3{
    height: 50px;
    overflow: hidden;
}
.user-pic-thumbnail{
    text-align: center;    
}
.progress-preview{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    
}
.vdo-editor{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.lesson-margin{
    margin: 3px 3px 3px 3px;
}
.medium-margin{
    margin: 5px 5px 5px 5px;
}

.vdo-editor{
    display:block; 
    width:auto; 
    text-align:center;
    margin: 0 auto; 
    
}
.pic-box{
    max-height: 160px;
    overflow: hidden;
}

.user-progress{
    margin: 1% 0 1% 0;
}

.grid-view table.items th{
    background-color: red !important;
    background: url(../images/bg-noise.png) repeat-x scroll left top white;
    font-size: 0.9em;
    border: 1px white solid;
    padding: 0.3em;
}
.login-form{
    margin-top: 15%;
}
.space-login{
    margin-top: 7%;
    display: block;
}


#editor,load-editor,.editor-box{
    width:98%;
    border: 1px solid #444444;
    display: block;
    min-height: 200px;
    height: auto;    
    overflow: scroll;
    
}

#loading,.loading{
    font-size: 0.7em;
    color: green;
    font-weight: bold;
}

.play-box{
    width:98%;
    border: 1px solid #444444;
    border-top:0px;
    background-color: black;
    height: auto;
}
.loading-widget{
    display: inline-block;
    float:right;
    font-size: 0.7em;
    color: green;
    font-weight: bold;
    margin-right: 1%;
    
}

.show-compile{
    width:98%;
    border: 1px solid #444444;
    border-top:0px;
    display: block;    
    height: auto;  
    display: none;
    fon-size:1em; 
}


.text-compile{
    font-weight: bold;
    color: #3CB371;
    font-size: 0.8em;
    display: block;
    margin-left: 2%;
    margin-bottom: 1%;
    /*border: 1px solid black;*/
    
}

.text-error{
    font-weight: bold;
    color: red;
    font-size: 0.8em;
    display: block;
    margin-left: 2%;
    
}

.code-result{
    margin-left: 5%;
  
}

.code{
    margin: 1% 2% 2% 2%;
}

.box-btn{
    display: inline;
    margin-left: 1%;
}

.box-btn :hover{
    background-color: #228B22;
    border:2px solid #228B22;
}