
/*--------------------------------------------*/
hr{
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top:8%;
}


.navbar-inverse .navbar-color{
  background-color:#98d051;
  background-image: -moz-linear-gradient(top, #98d052, #98d051);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#98d052), to(#98d051));
  background-image: -webkit-linear-gradient(top, #98d052, #98d051);
  background-image: -o-linear-gradient(top, #98d052, #98d051);
  background-image: linear-gradient(to bottom, #98d052, #98d051);
  background-repeat: repeat-x;
  border: 0;
  border-bottom: 1px solid #7d7d7d;
  border-color: #7d7d7d;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff98d052', endColorstr='#ff98d051', GradientType=0); 
}
.navbar-inverse .nav > li > a {
  color: #fff;
}
@font-face {
    font-family: 'supermarketregular';
    src: url('../font/supermarket-webfont.eot');
    src: url('../font/supermarket-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/supermarket-webfont.woff') format('woff'),
         url('../font/supermarket-webfont.ttf') format('truetype'),
         url('../font/supermarket-webfont.svg#supermarketregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.nav{
  font-size: 19px;
  padding-top: 2%;
  text-align: right;
}
body{
  font-family: 'supermarketregular';
}


/*slider*/
.submit-reg {
  background-image: linear-gradient(rgb(156, 207, 89), rgb(132, 173, 81));
  background-image: -webkit-linear-gradient(rgb(156, 207, 89), rgb(132, 173, 81));
  color: white;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid rgb(127, 207, 95);
  text-align: center;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset, 1px 0 0 #89B4DC, 0 1px 3px #CCCCCC;
  text-shadow: 0 1px #333333 !important;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  width: 120px;
  float: right !important;
}
#myCarousel{
  padding-bottom: 50px;
  }

.carousel-inner {
  width: 95.60%;
  top: 30px;
  left: 17px;
}

.carousel-indicators {
  position: relative;
  top: 66px;
  margin: 0 auto;
  width: 7%;
}

.signup-facebook{
  background-image: linear-gradient(#698DA9, #466B8B);
  background-image: -webkit-linear-gradient(#698DA9, #466B8B);
  color: white;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #47637A;
  text-align: center;
  font-size: px;
  height: 50px;
  line-height: 50px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset, 1px 0 0 #89B4DC, 0 1px 3px #CCCCCC;
  text-shadow: 0 1px #333333 !important;
  
}

.signup-facebook:after{
  background-image: url("../imagesv1/facebook.png");
  background-position: 23px 5px;
  background-repeat: no-repeat;
  height: 100%;
  border-left: 1px groove #E5E5E5;
  width: 70px;
  content: "";
  float: right;
  
}

.login-form{
  margin-top: 40px;
  background-color: lightgray;
  padding: 15px;
  box-shadow: 10px 10px 5px #888888;
}
.user-box-check{
  padding-top: 20px;
  }
.user-box-text{
  padding-top: 10px;
  font-size: 12px;
  color: #666666;

}

/*slider*/

/*btn-group-user*/

.btn-user{
  width: 50%;
  height: 40px;
}
.or{
  text-align: center;
  font-size: 18px;
  color: #cccccc;
}
input[name="firstname"]:hover{
  .icon-firstname{
    opacity: 1;
    float: right;
  }
}
#text-user-box{
  padding-left: 10%;
}
.icon-firstname{
  background: url("../imagesv1/firstname.png") no-repeat;
  opacity: 0.5; 
  width: 20px;
  height: 25px;
  position: absolute;
  margin-top: 6px;
  margin-left: 0.4%;
}
.icon-email{
  background: url("../imagesv1/email.png") no-repeat;
  opacity: 0.5; 
  width: 20px;
  height: 25px;
  position: absolute;
  margin-top: 6px;
  margin-left: 0.4%;
}
.icon-username{
  background: url("../imagesv1/username.png") no-repeat;
  opacity: 0.5; 
  width: 20px;
  height: 25px;
  position: absolute;
  margin-top: 6px;
  margin-left: 0.4%;
}
.icon-password{
  background: url("../imagesv1/password.png") no-repeat;
  opacity: 0.5; 
  width: 20px;
  height: 25px;
  position: absolute;
  margin-top: 4px;
  margin-left: 0.4%;
}
/*btn-group-user*/
.nav-buttom{
  clear: both;
  height: 52px;
}
#slider {
  height: 548px;
  background: #888888;
}
/*.carousel .carousel-inner .slide-item{
  height: 355px; 
  width: 673px;
}*/

#slider .carousel{
  margin-top: 10%;
}


#regis{
  background: #e9e9e9;
  margin-top: 4%;
  height: 461px;
}
#maincontent {
  background: #fff;
  height: auto;
  margin-top: 41px;
}
#one{
  color: #98d051;
  font-size: 60px;
  text-align: center;
  padding-top: 6%;  
}
#two{
  color: #98d051;
  font-size: 26px;
  text-align: center;
  line-height: 1.6;
}
#title{
  color: #555555;
  font-size: 30px;
  line-height: 2.3;
}
#detail{
  color: #a7a7a8;
  font-size: 18px;
}
.course{
  background-color: #ededed;
  height: 300px;
  width: 370px;
}
#prefooter{
  background: #8a8a8a;
  height: 360px;

}
#titleprefooter{
  font-size: 30px;
  color: #6dcff6;
  text-align: center;
  padding-top: 16%;  
}

/*let start*/

.let-start-choice .description{
	padding-left: 15px;
}

.let-start-choice .picture{
	padding: 6px;
	width: 93%;
	margin: 6px;
	height: 175px;
	z-index:1;
}
.lets-start  .backgrounding{
	background-color: rgb(233,233,233);
	box-shadow: 3px 3px 5px #888888;
}
.let-start-choice .money{
	color: blue;
}
.pic-box{
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 100%;
}
.float-box{
	position: absolute;
	background-color: black;
	opacity: 0.5;
	bottom: 10px;
	margin-left: 12px;
	margin-right: 14px;
	width: 94%;
	height: 30%;
	z-index: 1;
}
.text-inbox{
	background-color: rgb(122, 180, 44);
	margin-top: 10px;
	opacity: 1.0;
	z-index: 2;
}
.subject .icon-box{
	margin-top: 10px;
}
.subject .my-icon{
	width: 20px;
	height: 20px;
}
.subject .title{
	color: rgb(122, 180, 44);
	font-size: 30px;
}
.subject .text-info{
	font-size: 20px;
}
.subject .title, .subject .text-info{
	padding-left: 10px;
}
.let-start-choice{
	background-color: rgb(233,233,233);
	margin-top: 30px;
}
/*let start*/

/* Testimonials*/
.testimonials h3{
	text-align: center;
	font-size: 50px;
	margin-bottom: 20px;
	color: cyan;
	font-weight: normal;
}
.testimonials .picture{
	height: 200px;
}
.testimonials .picture img{
	margin-top: 110px;
}
.testimonials .comment{
	background-image: url("../pics/testimonial.gif");
	height: 200px;
	background-repeat: no-repeat;
}
.comment .comment-msg{
	padding: 20px;
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	color: white;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}
.name-commenter {
	font-size: 25px;
	color: rgb(152, 230, 94);
	
}
.job-commenter{
	color: white;
	font-style:italic;
}

.pic-box{
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 100%;
}
.testimonials h3{
	text-align: center;
	font-size: 50px;
	margin-bottom: 20px;
	color: cyan;
	font-weight: normal;
}

#myCarousel2 .slide-item{
	width: 100% !important;
}
.carousel-control{
	font-family: 'Helvetic';
}
/* Testimonials*/

/* footer */
#footer h4{
	border-bottom: 2px groove rgb(20, 20, 20);
}
#footer .my-icon{
	width: 30px;
	height: 30px;
}
#footer{
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}
#footer .logo{
	background-image: radial-gradient(ellipse closest-side at center, rgb(100, 100, 100) 0%,  #303235 100%);
}
#footer{
  height: 240px;
  background: #303235;

}
/* footer */

/* others */
.float-right{
	float: right;
}
/*search*/
#search{
	margin-top: 120px;
	margin-bottom: 100px;
	padding: 20px 20px 10px 20px;
	background-color: rgb(122, 180, 44);
	border-radius: 10px 10px 10px 10px;
}
.text-input-search{
	float: left !important; 
	height: 29px !important;
	padding-left: 30px !important;
	margin-left: 30px !important;
}
.text-button-search{
border-radius: 4px 4px 4px 4px;
	margin-left: 0px;
	height: 37.5px !important;
	border: 1px solid green;
	border-left: none;
	background-image: -ms-linear-gradient(top, #9DE05B 0%, #20870B 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #9DE05B 0%, #20870B 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #9DE05B 0%, #20870B 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9DE05B), color-stop(1, #20870B));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #9DE05B 0%, #20870B 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #9DE05B 0%, #20870B 100%);
}

/*search*/
.seeallcourse{
	float: none !important;
	font-size: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 340px !important;
}
.button-seeallcourse{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}
.login-form-pane hr{
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*login form*/
.g-button-user {
	text-align: center;
}

.login-form-pane{
	height: auto;
	margin-bottom: 10%;
}
/*login form*/

.allcourse #search{
	background-image: -ms-linear-gradient(top, rgb(83, 83, 83) 0%, rgb(60, 60, 60) 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, rgb(83, 83, 83)  0%, rgb(60, 60, 60) 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, rgb(83, 83, 83)  0%, rgb(60, 60, 60) 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(83, 83, 83) ), color-stop(1, rgb(60, 60, 60)));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, rgb(83, 83, 83)  0%, rgb(60, 60, 60) 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, rgb(83, 83, 83)  0%, rgb(60, 60, 60) 100%);
}
.allcourse .text-button-search{
	background-image: -ms-linear-gradient(top, rgb(83, 83, 83) 0%, rgb(60, 60, 60) 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, rgb(83, 83, 83)  0%, rgb(60, 60, 60) 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, rgb(83, 83, 83)  0%, rgb(60, 60, 60) 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(83, 83, 83) ), color-stop(1, rgb(60, 60, 60)));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, rgb(83, 83, 83)  0%, rgb(60, 60, 60) 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, rgb(83, 83, 83)  0%, rgb(60, 60, 60) 100%);
	border: 1px solid rgb(60, 60, 60);
}

/*menu list*/
#menu-button-list{
	margin: 50px 0;
}
#menu-button-list .signup-facebook{
	height: 42px;
	background-image: linear-gradient(rgb(124, 124, 124), rgb(95, 95, 95));
	background-image: -webkit-linear-gradient(rgb(124, 124, 124), rgb(95, 95, 95));
	border: 1px solid rgb(75, 75, 75);
	font-size: 16px;
}
.button-in-menu-list{
  background-image: linear-gradient(rgb(83, 83, 83), rgb(60, 60, 60));
  background-image: -webkit-linear-gradient(rgb(83, 83, 83), rgb(60, 60, 60));
  border: 1px solid rgb(55, 55, 55);
  height: 40px;
}

#menu-button-list .signup-facebook:after{
  background-image: none;
  background-position: 23px 5px;
  background-repeat: no-repeat;
  height: 100%;
  border-left: 1px groove #E5E5E5;
  width: 30px;
  content: "V";
  float: right;
}
/*menu list*/

/*all courses show
*/

#all-courses-show{
	margin-bottom: 80px;
}

/*all-courses-show
*/

/* Pagination */
#pagination-show-all-course{
	text-align: center;
	margin-bottom: 80px;
}
.page-button{
	  background-image: linear-gradient(rgb(156, 207, 89), rgb(132, 173, 81));
	  background-image: -webkit-linear-gradient(rgb(156, 207, 89), rgb(132, 173, 81));
	  color: rgb(230, 230, 230);
	  border-radius: 4px 4px 4px 4px;
	  width: 1120px;
	  text-align: center;
	  font-size: 18px;
	  line-height: 50px;
	  box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset, 1px 0 0 #BBBBBB, 0 1px 3px #CCCCCC;
	  text-shadow: 0 1px #333333 !important;
	  font-weight: normal;
	  padding-left: 10px;
	  padding-right: 10px;
	  padding: 5px 15px 5px 15px;
	  margin-left: 10px;
}

/* Pagination */

/*floating-regis-box*/

#floating-regis-box{
	 box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset, 1px 0 0 #BBBBBB, 0 1px 3px #CCCCCC;
	top: 6.5%;
	left: 71%;
	position: fixed;
	width: 20%;
	height: 45%;
	background-color: white;
	z-index: 2000;
	padding: 10px;
}

#floating-regis-box .signup-facebook{
	height: 40px;
	line-height: 40px;
}
.text-user-box-username{
	background: url("../imagesv1/firstname.png") no-repeat 5px 5px;
	padding-left: 13% !important;
}
.text-user-box-password{
	  background: url("../imagesv1/password.png") no-repeat 5px 4px;
	padding-left: 13% !important;
}
#text-user-box{
  padding-left: 10%;
}

#floating-regis-box .submit-reg{
	height: 30px;
	width: 90px;
	line-height: 30px;
}
#floating-regis-box .signup-facebook{
	margin-top: 10px;
	font-size: 16px;
}
#floating-regis-box .signup-facebook:after{
  background-image: url("../imagesv1/facebook.png");
  background-position: 14px 2px;
  background-repeat: no-repeat;
  height: 100%;
  border-left: 1px groove #E5E5E5;
  width: 50px;
  content: "";
  float: right;
}

.nav .holding{
	background: white;
	z-index: 4000;
	border-radius: 4px 4px 4px 4px;
	color: gray !important;
}
.menubox{
	padding-left: 149px !important;
}
/*floating-regis-box*/

/******* admin-courses ********/

/*menu*/
.admin-right-menu{
	display:inline-block;
	padding: 10px 0; 
	position:relative; 	
	z-index: 999;
	border: 1px solid #E6E6E6;
	border-left:10px solid #bbb;
	background: #f9f9f9;
	cursor:pointer;
	text-decoration:none;
	color:#555555; 
	font-size: 16px;
	box-shadow:0 1px 5px #ccc; -moz-box-shadow:0 1px 5px #ccc; -webkit-box-shadow:0 1px 5px #ccc;
}

.admin-right-menu.active, .admin-right-menu:hover{
	display:inline-block;
	padding: 10px 0; 
	border-left: 10px solid #4dbce9 !important;
	position:relative; 	
	z-index: 999;
	border: 1px solid #E6E6E6;
	background: #f3f3f3;
	cursor:pointer;
	text-decoration:none;
	color:#555555; 
	font-size: 16px;
	box-shadow:0 1px 5px #ccc; -moz-box-shadow:0 1px 5px #ccc; -webkit-box-shadow:0 1px 5px #ccc;
}

.admin-right-menu:hover{
	background:#eee !important;
}

.admin-right-menu span { 
	padding: 0 25px; 
}
.icon-menu-active{
	background: url(../imagesv1/sprite.png) -590px -77px no-repeat;
	width: 20px;
	height: 20px;
	float: right;
}

/*body*/
.admin-bg-body{
	background:#f3f3f3 url(../imagesv1/bg-noise.png) repeat; 
	border:1px solid #ccc;
	padding: 20px 0;
}
.search-admin{
	background: none; 
	border:1px solid #666; 
	box-shadow:0 1px #aaa inset; 
	-moz-box-shadow:0 1px #aaa inset;
	-webkit-box-shadow:0 1px #aaa inset;
}
#search-admin input.text-input-search {
	margin-left:0 !important; 
	background: #fff;
	padding-left: 20px !important; 
	font-size:1.3em; 
	color:#999; 
	border: 1px solid rgb(192, 191, 191);
	-moz-box-shadow:0 1px 1px #fff; 
	-webkit-box-shadow:0 1px 1px #fff; 
	box-shadow:0 1px 1px #fff; 
	-webkit-border-radius:0; 
	-moz-border-radius:0; 
	border-radius:0;
	height: 37px !important;
	margin-bottom: 0 !important; 
}
#search-admin input.text-button-search {
	border-left: 1px solid #678f35; 
	background:url(../imagesv1/btn-bg-search-admin.png) center 0 no-repeat; 
	text-indent:-10000px; 
	-webkit-border-top-left-radius:0; 
	-webkit-border-bottom-left-radius:0; 
	-moz-border-radius-topleft:0; 
	-moz-border-radius-bottomleft:0; 
	border-top-left-radius:0; 
	border-bottom-left-radius:0;
}
#search-admin input.text-button-search:hover {
	background:url(../imagesv1/btn-bg-search-admin-hover.png) center 0 no-repeat; 
	border:1px solid #2e7b9a; 
}
#search-admin input.text-button-searchphone {
	border:1px solid #678f35; 
	background:url(../imagesv1/btn-bg-darkgreen.png) repeat-x; 
	color:#fff; 
	text-shadow:0 1px 0 #666; 
	padding:2% 0  !important;
	margin-top: 5% !important;
	-webkit-border-radius:4px; 
	-moz-border-radius:4px; 
	border-radius:4px; 
	font-family:'supermarketregular'; 
	letter-spacing:1px; 
	font-size:1.8em;
}
#search-admin input.text-button-searchphone:hover {
	border:1px solid #678f35; 
	border-left:0; 
	background:url(../imagesv1/btn-bg-blue.png) repeat-x;
}

#maincontent .menu-wrapper {
	display:inline-block; 
	background:#f3f3f3 url(../imagesv1/bg-noise.png) repeat; 
	padding:5% 0; 
}
.btn-menu-center-wrapper {
	display:block; 	
	background:#f3f3f3 url(../imagesv1/bg-noise.png) repeat; 
	margin:0 auto;
}
.icon-add-course{
	background: url(../imagesv1/sprite.png) -602px -176px no-repeat !important;
	height: 15px;
	width: 16px;
	vertical-align: middle;
}
#admin-course .course-card {
	background:#fff url(../imagesv1/bg-noise.png) repeat;
}
.icon-edit-course{
	background: url(../imagesv1/sprite.png) -561px -114px no-repeat !important;
	height: 20px;
	width: 20px;
	vertical-align: middle;
}
.icon-delete-course{
	background: url(../imagesv1/sprite.png) -596px -114px no-repeat !important;
	height: 20px;
	width: 20px;
	vertical-align: middle;
}
#add-course .input .text-input-forms{
	margin-left:0 !important; 
	background: #fff;
	padding-left: 20px !important; 
	font-size:1.3em; 
	color:#999; 
	border: 1px solid rgb(192, 191, 191);
	-moz-box-shadow:0 1px 1px #fff; 
	-webkit-box-shadow:0 1px 1px #fff; 
	box-shadow:0 1px 1px #fff; 
	-webkit-border-radius:0; 
	-moz-border-radius:0; 
	border-radius:0;
	height: 37px !important;
	margin-bottom: 0 !important; 
}
.btn-green-submit {
	margin-top:3px; 
	border:1px solid #678F35; 
	box-shadow:0 1px #e9ffce inset; 
	-moz-box-shadow:0 1px #e9ffce inset;
	-webkit-box-shadow:0 1px #e9ffce inset; 
	background: #74a03c; 
	background-image: url(../imagesv1/bg-noise.png); /* fallback */ 
	background-image: url(../imagesv1/bg-noise.png), 
	-webkit-gradient(linear, left top, left bottom, from(#98d051), to(#74a03c)); /* Saf4+, Chrome */ 
	background-image: url(../imagesv1/bg-noise.png), -webkit-linear-gradient(top, #98d051, #74a03c); /* Chrome 10+, Saf5.1+ */ 
	background-image: url(../imagesv1/bg-noise.png), -moz-linear-gradient(top, #98d051, #74a03c); /* FF3.6+ */ 
	background-image: url(../imagesv1/bg-noise.png), -ms-linear-gradient(top, #98d051, #74a03c); /* IE10 */ 
	background-image: url(../imagesv1/bg-noise.png), -o-linear-gradient(top, #98d051, #74a03c); /* Opera 11.10+ */ 
	background-image: url(../imagesv1/bg-noise.png), linear-gradient(top, #98d051, #74a03c); /* W3C */ 
	displayx:block; /*width:125px;*/ 
	height:45px; 
	padding:15px; 
	font-family:'supermarketregular'; 
	letter-spacing:1px; 
	font-size: 22px; 
	color:#fff; 
	text-shadow:0 1px 0 #000; 
}
.btn-green-submit:hover {
	box-shadow:0 1px #a1e4ff inset; 
	-moz-box-shadow:0 1px #a1e4ff inset; 
	-webkit-box-shadow:0 1px #a1e4ff inset; 
	background: #378fb3; 
	background-image: url(../imagesv1/bg-noise.png); /* fallback */ 
	background-image: url(../imagesv1/bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(#4dbce9), to(#378fb3)); /* Chrome */ 
	background-image: url(../imagesv1/bg-noise.png), -webkit-linear-gradient(top, #4dbce9, #378fb3); /* Chrome 10+, Saf5.1+ */ 
	background-image: url(../imagesv1/bg-noise.png), -moz-linear-gradient(top, #4dbce9, #378fb3); /* FF3.6+ */ 
	background-image: url(../imagesv1/bg-noise.png), -ms-linear-gradient(top, #4dbce9, #378fb3); /* IE10 */
	background-image: url(../imagesv1/bg-noise.png), -o-linear-gradient(top, #4dbce9, #378fb3); /* Opera 11.10+ */ 
	background-image: url(../imagesv1/bg-noise.png), linear-gradient(top, #4dbce9, #378fb3); /* W3C */ 
	border:1px solid #2e7b9a; color:#fff;
}
.btn-gray-submit {
	margin-top:3px; 
	border:1px solid #b8b8b8;	
	background: #efefef; 
	background-image: url(../images/bg-noise.png); /* fallback */ 
	background-image: url(../images/bg-noise.png), 
	-webkit-gradient(linear, left top, left bottom, from(#efefef), to(#cbcbcb)); /* Saf4+, Chrome */ 
	background-image: url(../images/bg-noise.png), -webkit-linear-gradient(top, #efefef, #cbcbcb); /* Chrome 10+, Saf5.1+ */ 
	background-image: url(../images/bg-noise.png), -moz-linear-gradient(top, #efefef, #cbcbcb); /* FF3.6+ */ 
	background-image: url(../images/bg-noise.png), -ms-linear-gradient(top, #efefef, #cbcbcb); /* IE10 */ 
	background-image: url(../images/bg-noise.png), -o-linear-gradient(top, #efefef, #cbcbcb); /* Opera 11.10+ */ 
	background-image: url(../images/bg-noise.png), linear-gradient(top, #efefef, #cbcbcb); /* W3C */ 
	displayx:block; /*width:125px;*/ 
	height:45px; 
	padding:15px; 
	font-family:'supermarketregular'; 
	letter-spacing:1px; 
	font-size: 22px; 
	color:#000; 
	text-shadow:0 1px 0 #fff; 
}
.btn-gray-submit:hover {
	background: #cbcbcb; 
	background-image: url(../imagesv1/bg-noise.png); /* fallback */ 
	background-image: url(../imagesv1/bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(#cbcbcb), to(#efefef)); /* Chrome */ 
	background-image: url(../imagesv1/bg-noise.png), -webkit-linear-gradient(top, #cbcbcb, #efefef); /* Chrome 10+, Saf5.1+ */ 
	background-image: url(../imagesv1/bg-noise.png), -moz-linear-gradient(top, #cbcbcb, #efefef); /* FF3.6+ */ 
	background-image: url(../imagesv1/bg-noise.png), -ms-linear-gradient(top, #cbcbcb, #efefef); /* IE10 */
	background-image: url(../imagesv1/bg-noise.png), -o-linear-gradient(top, #cbcbcb, #efefef); /* Opera 11.10+ */ 
	background-image: url(../imagesv1/bg-noise.png), linear-gradient(top, #cbcbcb, #efefef); /* W3C */ 
	border:1px solid #b8b8b8; 
	color:#000;
}
.icon-student-id{
	background: url(../imagesv1/sprite.png) -563px -149px no-repeat !important;
	height: 30px;
	width: 20px;
	vertical-align: middle;
}
.icon-student-email{
	background: url(../imagesv1/sprite.png) -563px -189px no-repeat !important;
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

#admin-course .text-info{
	font-size: 16px;
}

/*edit*/
.content-list {
	margin: 0px;
}
.input-white-box{
	background-color: #fff;
	box-shadow: 0px 0px 5px #ccc;
	-moz-box-shadow: 0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	padding: 5px 20px;	
}
.content-blue{
	color: #4dbce9;
}
.editable-chapter {
	line-height: 40px;
	margin: 5px 0px;
	padding: 4px 14px;
	vertical-align: middle;
	cursor: move;
	list-style: none;	
	background-color: #fff;
	box-shadow: 0px 0px 5px #ccc;
	-moz-box-shadow: 0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	text-align:left;
}
.editable-lecture, .editable-quiz {
	line-height: 40px;
	margin: 5px 0px;
	padding: 4px 14px;
	vertical-align: middle;
	cursor: move;
	list-style: none;	
	background-color: #fff;
	box-shadow: 0px 0px 5px #ccc;
	-moz-box-shadow: 0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	width: 93%;
	text-align:left;
}
.editable-chapter {
	line-height: 40px !important;
}
.editable-chapter .content-prefix, .editable-quiz .content-prefix {
	font-weight:normal;
	font-size: 16px; 
	color:#000; 
	text-shadow:0 1px 0 #fff; 
}
.editable-lecture .content-prefix {
	font-weight:normal;
	font-size: 16px; 
	color:#4dbce9; 
	text-shadow:0 1px 0 #fff; 
}
.editable-chapter, .editable-lecture, .editable-quiz {
	line-height: 40px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	cursor: move;
	list-style: none;
}
.editable-chapter {
	line-height: 40px !important;
}
.editable-chapter .content-name, .editable-quiz .content-name {
	font-weight:normal;
	font-size: 16px; 
	color:#000; 
	text-shadow:0 1px 0 #fff;
}
.editable-lecture .content-name {	
	font-weight:normal;
	font-size: 16px; 
	color:#4dbce9; 
	text-shadow:0 1px 0 #fff;
}
.editable-content-body {
	font-weight:normal;
	font-size: 16px; 
	color:#333; 
	text-shadow:0 1px 0 #fff;
}
.editable-chapter .edit-panel, .editable-lecture .edit-panel, .editable-quiz .edit-panel {
	display: none;
}
.editable-lecture, .editable-quiz {
	color: #4dbce9;
}

.btn-white-bg{
	background: none !important;
	border: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	-webkit-box-shadow: 0 !important;
	-moz-box-shadow: 0 !important;
	box-shadow: none !important;
	padding: 0 !important;
}
.icon-submit-edit{
	background: url(../imagesv1/sprite.png) -501px -117px no-repeat !important;
	height: 15px;
	width: 20px;
	vertical-align: middle;
}
.icon-cancel-edit{
	background: url(../imagesv1/sprite.png) -530px -118px no-repeat !important;
	height: 15px;
	width: 20px;
	vertical-align: middle;
}
.input-edit-course{
	padding: 5px !important;
	margin-bottom: 0 !important;
}
.icon-editable-video{
	background: url(../imagesv1/sprite.png) -303px -252px no-repeat !important;
	height: 50px;
	width: 50px;
	vertical-align: middle;
}
.icon-editable-script{
	background: url(../imagesv1/sprite.png) -352px -254px no-repeat !important;
	height: 50px;
	width: 50px;
	vertical-align: middle;
}
.editable-media{
	display: block;	
	position: relative;
}
.editable-media:hover{
	background-color: #f6f6f6;
}
.editable-media-inner{
	padding: 10px !important;	
}
.editable-row{
	cursor: default;
	padding-left: 10px;
}
.editable-media-title{
	font-weight:normal;
	font-size: 16px; 
	color:#333; 
	text-shadow:0 1px 0 #fff;
	line-height: 28px;
}
.editable-media-size{
	font-weight:normal;
	font-size: 12px; 
	color:#4b8013; 
	text-shadow:0 1px 0 #fff;
	line-height: 12px;
}
.editable-del{
	display:none; 
	position:absolute; 
	top:-20px; 
	right:-5px; 	 
	z-index:5;
}
.icon-editable-del{
	background: url(../imagesv1/sprite.png) -601px -202px no-repeat !important;
	width:16px; 
	height:16px; 
	vertical-align: middle;
}
.btn-editable-multiple-choice{
	background: #f1f1f1 url(../imagesv1/sprite.png) -400px -210px no-repeat !important;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	margin: 5px;
}
.btn-editable-multiple-choice:hover{
	background: #fff url(../imagesv1/sprite.png) -400px -256px no-repeat !important;
}.btn-editable-multiple-choice.active{
	background: #fff url(../imagesv1/sprite.png) -400px -256px no-repeat !important;
}
.btn-editable-true-or-false{
	background: #f1f1f1 url(../imagesv1/sprite.png) -460px  -210px no-repeat !important;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	margin: 5px;
}
.btn-editable-true-or-false:hover{
	background: #fff url(../imagesv1/sprite.png) -460px  -255px no-repeat !important;
}
.btn-editable-true-or-false.active{
	background: #fff url(../imagesv1/sprite.png) -460px  -255px no-repeat !important;
}
.btn-editable-fill-in-the-blank{
	background: #f1f1f1 url(../imagesv1/sprite.png) -517px  -210px no-repeat !important;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	margin: 5px;
}
.btn-editable-fill-in-the-blank:hover{
	background: #fff url(../imagesv1/sprite.png) -517px  -256px no-repeat !important;
}.btn-editable-fill-in-the-blank.active{
	background: #fff url(../imagesv1/sprite.png) -517px  -256px no-repeat !important;
}

/*edit*/

/******* admin-courses ********/