h1{ 
	font-family:'supermarketregular'; 
	font-size: 40px; 
	line-height: 40pt; 
	letter-spacing:1px; 
	text-shadow:0 1px 0 #FFF; 
	color:#555555; 
	font-weight: normal; 
}
h2{ 
	font-family:'supermarketregular'; 
	font-size: 40px; line-height: 40pt; 
	letter-spacing:1px; 
	text-shadow:0 1px 0 #FFF; 
	color:#555555; 
	font-weight: normal; 
}
#maincontent .content{ 
	color:#666; 
	font-size: 16px; 
	line-height: 25px; 
	font-weight: normal; 
	font-family:"Arial" 
}
#maincontent .content-small{ 
	color:#666; 
	font-size: 14px; 
	line-height: 20px;
	font-weight: normal; 
	font-family:"Arial" 
}
.content-title-white{
	color:#FFF;
	font-family:'supermarketregular';
	font-size: 18px;
	letter-spacing: 1px;
	text-shadow:0 1px 0 #309ac5;
	font-weight: normal;
	line-height: 22px;
}
ul.content{
	color:#666;
	font-size: 16px;
	font-weight: normal;
	padding:0;
	margin:0;
	padding-left: 75px;
}
ul.content li{
	list-style:url(../imagesv1/icon-check.png);
	line-height: 30px;
	padding-left: 5px;
}
.h2-img{
	vertical-align: baseline;
	padding-right: 10px;
}
.white-box{
	padding-top: 25px !important;
	padding-bottom: 25px !important;
	background:#f9f9f9; 
	border:1px solid #ccc; 
	-moz-box-shadow:0 0 5px #ccc; 
	-webkit-box-shadow:0 0 5px #ccc; 
	box-shadow:0 0 5px #ccc;
}
.content-right-gray-box{ 
	background:#f3f3f3 url(../imagesv1/bg-noise.png) repeat; 
	border:1px solid #ccc; 
	-moz-box-shadow:0 0 5px #ccc; 
	-webkit-box-shadow:0 0 5px #ccc; 
	box-shadow:0 0 5px #ccc; 
	position:relative; 
}
.content-right-gray-box-inner{
	 padding: 10px 0; 
}
.chapter-box{ 
	padding: 7px 25px; 
	-moz-box-shadow:0 0 5px #ccc; 
	-webkit-box-shadow:0 0 5px #ccc;
	box-shadow:0 0 5px #ccc;
	position:relative; 
	color:#4b8013; 
	font-size: 16px;
	z-index: 999;
	border-left: 8px solid #4dbce9;
	background-image: linear-gradient(right , rgb(240,240,240) 0%, rgb(250,250,250) 23%);
	background-image: -o-linear-gradient(right , rgb(240,240,240) 0%, rgb(250,250,250) 23%);
	background-image: -moz-linear-gradient(right , rgb(240,240,240) 0%, rgb(250,250,250) 23%);
	background-image: -webkit-linear-gradient(right , rgb(240,240,240) 0%, rgb(250,250,250) 23%);
	background-image: -ms-linear-gradient(right , rgb(240,240,240) 0%, rgb(250,250,250) 23%);
	background-image: -webkit-gradient(
		linear,
		right top,
		left top,
		color-stop(0, rgb(240,240,240)),
		color-stop(0.23, rgb(250,250,250))
	);
}
.chapter-list{  
	background:#FFF; 
	padding: 25px 25px 5px 10px; 
	border:1px solid #ccc; 
	-moz-box-shadow:0 0 5px #ccc; 
	-webkit-box-shadow:0 0 5px #ccc; 
	box-shadow:0 0 5px #ccc;
	position:relative;
	top: -17px;
	width: 90%; 
}
.apply-block{
	width: 100%;
	padding: 40px 0 50px 0;
}
.apply-padding{
	display:inline-block;
	width:100%;
	background:#f4f9ff url(../imagesv1/bg-noise.png);
}
.inline-block{
	display:inline-block; 
	width: 80%;  
	background: #f4f9ff url(../imagesv1/bg-noise.png);
}
.comment-button{ 
	height:22px;
	-moz-box-shadow:0 0 5px #999;
	-webkit-box-shadow:0 0 5px #999;
	box-shadow:0 0 5px #999;
	text-align:center;
	border-radius: 4px;
	margin-top: 15px;
	text-align:center;
	color:#FFF;
	font-family:'supermarketregular';
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: normal;
	text-decoration:none;
	vertical-align: baseline;
}

.content-title-green{ 
	font-family:'supermarketregular'; 
	font-size: 30px; 
	line-height: 30px; 
	letter-spacing:1px; 
	text-shadow:0 1px 0 #FFF; 
	color: #61a01f; 
	font-weight: normal; 
}

.content-title-green .first-name, .content-title-green .last-name{
	font-size:24px;
	margin-left:15px;
}

.content-italic{ 
	color: #888; 
	font-size: 14px; 
	line-height: 14px; 
	font-weight: normal; 
	font-style:italic; 
}
.content-italic a{ 
	color: #888; 
	font-size: 14px; 
	line-height: 14px; 
	font-weight: normal; 
	font-style:italic; 
	text-decoration:none; 
}
.content-italic a:hover{ 
	color: #333; 
	font-size: 14px; 
	line-height: 14px; 
	font-weight: normal; 
	font-style:italic; 
	text-decoration:none;
}
.content-title-box{ 
	padding: 20px 0;
}
.comment-box-in{ 
	margin: 50px 0; 
}
.comment-box-title{ 
	width: 100%; 
}
.comment-title{  
	padding:15px 25px; 
}
.load-more{ 
	width: 100%;
	margin-top: 31px; 
	background-color: #f3f3f3; 
	-webkit-border-radius: 5px; 
	-webkit-box-shadow: 0px 0px 5px #d0d0d0; 
	position:relative; 
	z-index:1; 
	padding: 10px 0;
}
.text-loading{
	font-family:'supermarketregular'; 
	font-size: 28px; 
	line-height: 30px; 
	letter-spacing:1px; 
	text-shadow:0 1px 0 #FFF; 
	color: #b3b3b3; 
	font-weight: normal; 
	padding-top: 10px;
}

/*bubble*/
.bubble{
    width:  100%;    
    margin-top: 25px;
    background-color: #fff;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 0px 0px 5px #d0d0d0;
    -moz-box-shadow: 0px 0px 5px #d0d0d0;
    -webkit-box-shadow: 0px 0px 5px #d0d0d0;
    position:relative;
    z-index:1;
}
.bubble-triangle{
	position: absolute;
	top: -17px;
	width: 0;
	height: 0;
	border-top: 17px solid transparent;
	border-left: 17px solid #ffffff;
	margin-left: 25px;
	z-index: 3;
}
.bubble-border{
	position: absolute;
	top: -20px;
	width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-left: 18px solid #e3e3e3;
	margin-left: 24px;
	z-index: 2;
}
.bubble-content{
   padding:15px;
}
/*bubble*/

/*profile*/
.profile-title{ 
	padding-top: 30px;
}
.profile-detail{ 
	position:relative; margin: 20px 0 10px 0; 
}
.profile-block-even {
	display: block;
	width: 106px;
	height: 113px;
	z-index: 5;
	background:url(../imagesv1/profile-img-shadow.png) no-repeat bottom center;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5);
	left: 202px;
	top: 94px;
}
.profile-block-odd {
	display: block;
	position: absolute;
	width: 106px;
	height: 113px;
	top: 10px;
	left: 5px;
	z-index: 5;
	background:url(../imagesv1/profile-img-shadow.png) no-repeat bottom center;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5);
}
.profile-img{
	border-bottom: 15px solid #FFF;
	border-left: 5px solid #FFF;
	border-right: 5px solid #FFF;
	border-top: 5px solid #FFF;
    -webkit-box-shadow: 0px 0px 5px #d0d0d0;
}
.even-margin-top{ 
	margin-top: 35px;
}
.enrolled-pic{
	 border: 1px solid #555;
	 margin: 5px;
}
/*profile*/

/*requisite*/
.requisite-box{ 
	margin: 25px 0 5px -25px; padding: 5px; 
}
.requisite-title{ 
	background-color:#4dbce9; 
	padding:2px 15px; 
}
.requisite-box ul{ 
	margin: 15px 0 0 50px;
}
.requisite-box ul li{ 
	list-style:square; 
	color:#666; 
	font-size: 14px; 
	line-height: 20px;
}
.btn-padding{
	padding: 10px;
}
#maincontent .btn-group{
	margin: 5px;
}
.block-course{ 
	padding: 15px; 
}
.block-course-inactive{ 
	background: #d9d9d9;
	border-radius: 5px;
	overflow: hidden;
	height: 40px;
	padding: 10px;
	font-family: 'supermarketregular';
	font-size: 24px;
	line-height: 30px;
	color: #FFF;
	font-weight: normal;
	text-align: center;
}
.block-course-inactive:hover{ 
	background: #999999;
	cursor: pointer;
}
.block-course-active{ 
	background: #b1b1b1;
	border: 3px solid #98d051;
	border-radius: 5px;
	padding: 7px;
	font-family: 'supermarketregular';
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	text-shadow: 0 1px 0 #b2b2b2;
	color: #FFF;
	text-align: center;
}
.block-course .tooltip {
	text-shadow: none !important;
	font-size: 13px !important;
}
.block-course .tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.block-course .tooltip-inner {
	max-width: 100px;
	padding: 8px;
	color: #000;
	text-align: left;
	background-color: #FFF;
	box-shadow: 0 2px 3px #b2b2b2;
	-moz-box-shadow:0 0 5px #ccc; 
	-webkit-box-shadow:0 0 5px #ccc; 
	box-shadow:0 0 5px #ccc;
}
.block-course .tooltip.top .tooltip-arrow {
	border-top-color: #FFF !important;
}

/*icon*/
.icon{ 
	padding: 0 5px;
}
.icon-star-green{
	background: url(../imagesv1/sprite.png) -631px -176px no-repeat !important;
	height: 15px;
	width: 15px;
	vertical-align: middle;
	margin-left: 5px; 
}
.icon-caret-green{
	background: url(../imagesv1/sprite.png) -631px -194px no-repeat;
	height: 15px;
	width: 15px;
	vertical-align: middle;
	margin-left: 5px;
}
#maincontent .btn-group .icon-justify{
	width: 18px;
	height: 13px;
	vertical-align: baseline;
}

/*LOGIN*/
#maincontent #regis{
	border: 1px solid rgb(197, 197, 197) !important;
	-moz-box-shadow: 0 0 10px 2px rgb(194, 194, 194) !important;
	-webkit-box-shadow: 0 0 10px 2px rgb(194, 194, 194) !important;
	box-shadow: 0 0 10px 2px rgb(194, 194, 194) !important;
	margin-top: 3% !important;
}