#header-right{ 
	margin: 60px 0 40px 0;
}
#header-text-bg-1{
	background: #555555; 
	padding: 5px 0 0 15px;
}
.text-bg-1{
	font-family:'supermarketregular'; 
	font-size: 46pt; 
	line-height: 48pt; 
	letter-spacing:2px; 
	text-shadow:1px 2px 0 #333; 
	color:#FFF;
}
#header-text-bg-2{ 
	padding: 60px 0;
}
.text-bg-2{
	font-family:'supermarketregular'; 
	font-size: 22px; 
	line-height: 28px; 
	letter-spacing:1px; 
	text-shadow:1px 1px 0 #333; 
	color:#FFF;
}
.btn-apply-gray{ 
	background:url(../images/btn-bg-gray.png) repeat; 
	height:60px; 
	-moz-box-shadow:0 0 5px #555; 
	-webkit-box-shadow:0 0 5px #555; 
	box-shadow:0 0 5px #555; 
	text-align:center; 
	border-top-left-radius: 8px; 
	border-bottom-left-radius: 8px; 
	overflow: hidden; 
}
.btn-apply-green{
	background:url(../images/btn-bg-biggreen.png) repeat; 
	height:60px; 
	box-shadow:0 0 5px #555; 
	-webkit-box-shadow:0 0 5px #555; 
	-moz-box-shadow:0 0 5px #555; 
	border-left: 1px solid #000;  
	border-top-right-radius:8px; 
	border-bottom-right-radius: 8px;
	margin-left: 0 !important; 
	text-align:center; overflow: hidden; 
}
.text-button-1{ 
	font-family:'supermarketregular';
	font-size: 30px; 
	line-height: 48pt; 
	letter-spacing:2px; 
	text-shadow:0 1px 0 #333; 
	color:#FFF;
}
.text-button-1 a{ 
	color: #FFF; 
	text-decoration:none; 
}
.text-button-1 a:hover{
	text-decoration:none;
}
.img-apply{ 
	vertical-align:baseline; 
	padding:0 0 5px 5px;
}
#header .icon-login{ 
	display: inline-block; 
	background: url(../images/sprite.png) -630px -148px no-repeat; 
	vertical-align: middle;
}
.icon-apply{ 
	background: url(../images/sprite.png) -360px -21px no-repeat; 
	height: 34px; 
	width: 34px; 
	vertical-align: middle; 
	margin-left: 5px; 
}
.label-noradius{ 
	-webkit-border-radius:0; 
	-moz-border-radius:0; 
	border-radius:0; 
}
.navbar-inverse .nav-collapse .nav a {
	color:#fff; 
	font-weight:normal;
}
.nav .btn-green {
	margin-top:20px;
	background:url(../images/btn-bg-green.png) repeat-x; 
	border:1px solid #678f35; 
	display:block; 
	height:20px; 
	padding:10px 0 0 10px; 
	font-family:'supermarketregular'; 
	letter-spacing:1px; 
	font-size: 16px; 
	color:#fff; 
	text-shadow:0 1px 0 #666; 
	line-height:0.8;
}
.nav .btn-green:hover {
	background:url(../images/btn-bg-blue.png) repeat-x; 
	border:1px solid #2e7b9a; 
	color:#fff;
}
.nav .btn-green:after {
	background:url(../images/icon-submit.png) 4px -1px no-repeat; 
	content:""; 
	float:right; 
	width:17px;
}
#header #regis{
	height:auto; 
	border: none !important; 
	-moz-box-shadow:0 0 0 0 #777 !important; 
	-webkit-box-shadow:0 0 0 0 #777 !important; 
	box-shadow:0 0 0 0 #777 !important; 
	margin-top:5%;
	font-size: 13px !important;
}
#header .login-form{	
	background: #FFF !important;
}
#header #regis .or{
	background: #FFF !important;
}
.dropdown-menu{ 
	position: absolute;
	top: 33px;
	left: 0;
	z-index: 1000;
	
	min-width: 250px;
	padding: 5px 0;
	margin: 0;
	list-style: none;
	background-color: #ffffff;
	border: none;	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
#header .dropdown-menu:before{
	display: none !important;
}
#header .dropdown-menu:after{
	display: none !important;
}
#header .navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	color: #79b42c;
	background-color: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 1001;
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.2); 
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.2); 
	box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
  
}