/* general */
body {font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; color:#666; text-shadow:0 1px 0 #fff; width:100%; background:#f4f9ff url(../imagesv1/bg-noise.png) repeat; padding:0;}
.clear {clear:both;}
a:focus {outline:0; text-decoration:none; color:inherit;}


/* btn style */
.btn-green {margin-top:10px; border:1px solid #678F35; box-shadow:0 1px #e9ffce inset; -moz-box-shadow:0 1px #e9ffce inset; -webkit-box-shadow:0 1px #e9ffce inset; background: #74a03c; background-image: url(../images/bg-noise.png); /* fallback */ background-image: url(../images/bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(#98d051), to(#74a03c)); /* Saf4+, Chrome */ background-image: url(../images/bg-noise.png), -webkit-linear-gradient(top, #98d051, #74a03c); /* Chrome 10+, Saf5.1+ */ background-image: url(../images/bg-noise.png), -moz-linear-gradient(top, #98d051, #74a03c); /* FF3.6+ */ background-image: url(../images/bg-noise.png), -ms-linear-gradient(top, #98d051, #74a03c); /* IE10 */ background-image: url(../images/bg-noise.png), -o-linear-gradient(top, #98d051, #74a03c); /* Opera 11.10+ */ background-image: url(../images/bg-noise.png), linear-gradient(top, #98d051, #74a03c); /* W3C */ display:block; /*width:125px;*/ height:33px; padding:17px 15px 0 15px; font-family:'supermarketregular'; letter-spacing:1px; font-size:1.7em; color:#fff; text-shadow:0 1px 0 #666; line-height:0.8;}
.btn-green:hover {box-shadow:0 1px #a1e4ff inset; -moz-box-shadow:0 1px #a1e4ff inset; -webkit-box-shadow:0 1px #a1e4ff inset; background: #378fb3; background-image: url(../images/bg-noise.png); /* fallback */ background-image: url(../images/bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(#4dbce9), to(#378fb3)); /* Saf4+, Chrome */ background-image: url(../images/bg-noise.png), -webkit-linear-gradient(top, #4dbce9, #378fb3); /* Chrome 10+, Saf5.1+ */ background-image: url(../images/bg-noise.png), -moz-linear-gradient(top, #4dbce9, #378fb3); /* FF3.6+ */ background-image: url(../images/bg-noise.png), -ms-linear-gradient(top, #4dbce9, #378fb3); /* IE10 */ background-image: url(../images/bg-noise.png), -o-linear-gradient(top, #4dbce9, #378fb3); /* Opera 11.10+ */ background-image: url(../images/bg-noise.png), linear-gradient(top, #4dbce9, #378fb3); /* W3C */ border:1px solid #2e7b9a; color:#fff;}
.btn-green:after {background:url(../imagesv1/icon-submit.png) 5px 2px no-repeat; content:""; float:right; height:100%; width:10%;}
.btn-green.btn-big {height:45px; width:auto; padding:30px 20px 0 20px; font-size:2.5em; text-align:right; -moz-box-shadow:0 0 10px 1px #bbb; -webkit-box-shadow:0 0 10px 1px #bbb; box-shadow:0 0 10px 1px #bbb;}
.btn-green.btn-big:hover {color:#fff;}
.btn-green.btn-big:after {background:none; width:auto;}
i.icon-submit {background:url(../imagesv1/sprite.png) -366px -158px no-repeat; width:14px; height:16px; vertical-align:top;}
i.icon-back {background:url(../imagesv1/sprite.png) -350px -158px no-repeat; width:14px; height:16px; vertical-align:top;}
i.icon-home {background:url(../imagesv1/sprite.png) -420px -190px no-repeat; vertical-align:middle; width:18px;}
i.icon-list-alt, i.icon-course {background:url(../imagesv1/sprite.png) -440px -190px no-repeat; vertical-align:middle;  width:18px;}
i.icon-course-complete {background:url(../imagesv1/sprite.png) -480px -190px no-repeat; vertical-align:middle;  width:18px;}
i.icon-user {background:url(../imagesv1/sprite.png) -460px -190px no-repeat; vertical-align:middle;  width:18px;}
i.icon-submit {background:url(../imagesv1/sprite.png) -366px -158px no-repeat; width:14px; height:16px; vertical-align:top;}


/* header */
#header {background:#79b42c;}
.sitename {display:inline-block !important; width:260px !important; height:45px !important; overflow:hidden; background:url(../imagesv1/sprite.png) 0 10px no-repeat; text-indent:-10000px;}
#header .sitename {margin-left:20px !important;}
#header .navbar {margin-bottom:0;}
.navbar-inner {background:#79b42c !important; border:0; height:100%; padding:0.5% 0 !important; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none;}
.navbar-inverse .navbar-color {background:none !important;}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {text-shadow:0 1px 1px rgba(0,0,0,0.25); font-size:1.2em;}
.navbar .nav {float:right; margin:0; padding-top:5px;}
.navbar .nav > li > a {font-family:'supermarketregular'; letter-spacing:1px;}
.navbar .nav > li > a:hover, .navbar-inverse .nav-collapse .nav > li > a:hover {background:#79b42c; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -moz-box-shadow:0 0 3px 3px #6da228; -webkit-box-shadow:0 0 3px 3px #6da228; box-shadow:0 0 3px 3px #6da228;}
.navbar .menu {float:right; display:inline-block; width:auto;}
.navbar-inverse .btn-navbar {background:#4B8013 url(../imagesv1/bg-noise.png) repeat !important; margin-top:10% !important;}
.navbar-inverse .nav-collapse .nav > li > a {color:#fff; font-weight:normal;}
#header .dropdown.open .icon-login {background:url(../imagesv1/sprite.png) -600px -148px no-repeat !important;}
#header .dropdown.open a {text-shadow:0 1px 0 #fff;}


/* precontent + slider */
#precontent {background:#888 url(../imagesv1/bg-noise.png) repeat;}
#precontent .container-fluid, #footer .container-fluid {padding:0 20px;}
.bgslider {margin:0 auto 20px auto; display:block; width:91.3%; position:relative; height:100%;}
#slider {height:100%; position:relative; background:#888 url(../imagesv1/bg-noise.png) repeat;}
#slider .bgslider-img {position:absolute; top:0; left:0;}
#precontent .shadow-bottom {background:url(../imagesv1/shadow-bottom.png) center bottom no-repeat;}
#precontent .shadow-top {background:url(../imagesv1/shadow-top.png) center top no-repeat;}
#slider .container .row-fluid.shadow-top .span8 {position:relative;}
#slider .carousel {height:100%; display:block; margin:10% 0 0 0; width:100%; text-align:center; padding:4% 0;}
#slider .carousel-inner {left:2.5%; top:auto; text-align:center; margin-bottom:5%;}
#slider .carousel-inner .item {width:100%;}
#slider .carousel-control {z-index:10; display:block; width:30px; height:50px; margin-top:80px; text-indent:-10000px; border:0; top:auto; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}
#slider .span8 .carousel-control {margin-top:32%;}
#slider .carousel-control:focus {outline:0 !important;}
#slider .carousel-control.left {background:url(../imagesv1/sprite.png) -70px -70px no-repeat;}
#slider .carousel-control.right {background:url(../imagesv1/sprite.png) -150px -70px no-repeat;}
#slider .span8 .carousel-control.left {left:-10px;}
#slider .span8 .carousel-control.right {right:-10px;}
#slider .carousel-indicators {display:inline-block; width:auto; top:10%;}
#slider .carousel-indicators li {background:url(../imagesv1/sprite.png) 0 -70px no-repeat; cursor:pointer;}
#slider .carousel-indicators li.active {background:url(../imagesv1/sprite.png) -20px -70px no-repeat;}
#regis {height:auto; background:#eee url(../imagesv1/bg-noise.png) repeat; border:1px solid #666; -moz-box-shadow:0 0 5px 5px #777; -webkit-box-shadow:0 0 5px 5px #777; box-shadow:0 0 5px 5px #777; margin-top:5%;}
#regis .btn-user {background:url(../imagesv1/btn-bg-toggle.png) repeat-x; border:1px solid #b8b8b8; color:#4b8013; font-family:'supermarketregular'; letter-spacing:1px; font-size:20px; padding-top:5px; text-shadow:0 1px 0 #fff;}
#regis .btn-user.active, #regis .btn-user.active:hover {background:url(../imagesv1/btn-bg-toggle-active.png) repeat-x; cursor:default;}
#regis .btn-user:hover {background:url(../imagesv1/btn-bg-toggle-hover.png) repeat-x;}
#regis .signup-facebook {background:url(../imagesv1/btn-bg-fb.png) repeat-x; border:1px solid #505e67; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; text-shadow:0 1px 0 #555 !important;}
#regis .signup-facebook {color:#fff; text-decoration:none;}
#regis .signup-facebook:hover {background:url(../imagesv1/btn-bg-fb-hover.png) repeat-x;}
#regis .signup-facebook:after {border-left: 1px solid #4e6a7b; box-shadow:1px 0 rgba(255, 255, 255, 0.3) inset; -moz-box-shadow:1px 0 rgba(255, 255, 255, 0.3) inset; -webkit-box-shadow:1px 0 rgba(255, 255, 255, 0.3) inset; width:20%; background-position:60% 40% !important;}
#regis span {text-shadow:0 1px 0 #fff;}
#regis .text-user-box {padding-left:35px; color:#999;}
#regis .text-user-box:focus {color:#555;}
#text-firstname {background:#fff url(../imagesv1/firstname.png) 5px 5px no-repeat;}
#text-firstname:focus {background:#fff url(../imagesv1/firstname-focus.png) 5px 5px no-repeat;}
#text-email {background:#fff url(../imagesv1/email.png) 5px 5px no-repeat;}
#text-email:focus {background:#fff url(../imagesv1/email-focus.png) 5px 5px no-repeat;}
#text-username {background:#fff url(../imagesv1/username.png) 5px 5px no-repeat;}
#text-username:focus {background:#fff url(../imagesv1/username-focus.png) 5px 5px no-repeat;}
#text-password {background:#fff url(../imagesv1/password.png) 5px 2px no-repeat;}
#text-password:focus {background:#fff url(../imagesv1/password-focus.png) 5px 2px no-repeat;}
#regis .checkbox {margin-top:30px; font-size:0.9em;}
.line-lightgrey-wrapper {display:inline-block; height:100%; width:100%; background:url(../imagesv1/line-lightgrey.png)0 50% repeat-x; text-align:center; margin-bottom:5%;}
.line-lightgrey {display:inline-block; height:2%; width:100%; background:url(../imagesv1/line-lightgrey.png)0 50% repeat-x; margin:5% 0;}
.or {background:#eee url("../imagesv1/bg-noise.png") repeat; padding:0 5%; display:inline-block;}


/* precontent coursedetails */
.btn-apply-gray {border:1px solid #333; box-shadow:0 1px #999 inset; -moz-box-shadow:0 1px #999 inset; -webkit-box-shadow:0 1px #999 inset; background: #444; background-image: url(../imagesv1/bg-noise.png); /* fallback */ background-image: url(../imagesv1/bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(#666), to(#444)); /* Saf4+, Chrome */ background-image: url(../imagesv1/bg-noise.png), -webkit-linear-gradient(top, #666, #444); /* Chrome 10+, Saf5.1+ */ background-image: url(../imagesv1/bg-noise.png), -moz-linear-gradient(top, #666, #444); /* FF3.6+ */ background-image: url(../imagesv1/bg-noise.png), -ms-linear-gradient(top, #666, #444); /* IE10 */ background-image: url(../imagesv1/bg-noise.png), -o-linear-gradient(top, #666, #444); /* Opera 11.10+ */ background-image: url(../imagesv1/bg-noise.png), linear-gradient(top, #666, #444); /* W3C */}
.btn-apply-green {border:1px solid #333; border-left:0; box-shadow:0 1px #e9ffce inset; -moz-box-shadow:0 1px #e9ffce inset; -webkit-box-shadow:0 1px #e9ffce inset; background: #4b8013; background-image: url(../imagesv1/bg-noise.png); /* fallback */ background-image: url(../imagesv1/bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(#98d051), to(#4b8013)); /* Saf4+, Chrome */ background-image: url(../imagesv1/bg-noise.png), -webkit-linear-gradient(top, #98d051, #4b8013); /* Chrome 10+, Saf5.1+ */ background-image: url(../imagesv1/bg-noise.png), -moz-linear-gradient(top, #98d051, #4b8013); /* FF3.6+ */ background-image: url(../imagesv1/bg-noise.png), -ms-linear-gradient(top, #98d051, #4b8013); /* IE10 */ background-image: url(../imagesv1/bg-noise.png), -o-linear-gradient(top, #98d051, #4b8013); /* Opera 11.10+ */ background-image: url(../imagesv1/bg-noise.png), linear-gradient(top, #98d051, #4b8013); /* W3C */}
.btn-apply-green:hover {border:1px solid #333; border-left:0; background: #74a03c; background-image: url(../imagesv1/bg-noise.png); /* fallback */ background-image: url(../imagesv1/bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(#98d051), to(#74a03c)); /* Saf4+, Chrome */ background-image: url(../imagesv1/bg-noise.png), -webkit-linear-gradient(top, #98d051, #74a03c); /* Chrome 10+, Saf5.1+ */ background-image: url(../imagesv1/bg-noise.png), -moz-linear-gradient(top, #98d051, #74a03c); /* FF3.6+ */ background-image: url(../imagesv1/bg-noise.png), -ms-linear-gradient(top, #98d051, #74a03c); /* IE10 */ background-image: url(../imagesv1/bg-noise.png), -o-linear-gradient(top, #98d051, #74a03c); /* Opera 11.10+ */ background-image: url(../imagesv1/bg-noise.png), linear-gradient(top, #98d051, #74a03c); /* W3C */}


/* precontent learning */
#precontent .course-title-group {display:inline-block; padding:5% 0 1% 0; font-family:'supermarketregular'; letter-spacing:1px; text-shadow:0 1px 1px #333; color:#fff; line-height:1;}
#precontent .label-blue {display:block; background:#4dbce9;}
#precontent .course-title-percentage {font-size:1.7em; width:auto; padding:2% 4% 1% 4%; display:inline-block;}
#precontent .percentage-text {font-size:3em;}
#precontent .course-title-name {display:inline-block; margin-left:0;}
#precontent .course-title-name .course-name {font-size:3.5em; background:#555; display:inline-block; width:auto; padding:2% 2% 1% 2%;}
#precontent .course-title-name .teacher-name {font-size:1.7em; margin-top:2%;}
#precontent .course-title-name .teacher-name-label {background:#555; padding:0 2%;}
.course-progress .progress {height:30px;}
.course-progress .progress-wrapper {width:100%; border:1px solid #757575; margin:10px 0 20px 0; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; background-image: linear-gradient(bottom, #EAEAEA 0%, #D4D4D4 50%); background-image: -o-linear-gradient(bottom, #EAEAEA 0%, #D4D4D4 50%); background-image: -moz-linear-gradient(bottom, #EAEAEA 0%, #D4D4D4 50%); background-image: -webkit-linear-gradient(bottom, #EAEAEA 0%, #D4D4D4 50%); background-image: -ms-linear-gradient(bottom, #EAEAEA 0%, #D4D4D4 50%); background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #EAEAEA), color-stop(0.50, #D4D4D4)); box-shadow:0 1px 0 #eee inset, 0 1px 0 #a7a7a7; -moz-box-shadow:0 1px 0 #eee inset, 0 1px 0 #a7a7a7; -webkit-box-shadow:0 1px 0 #eee inset, 0 1px 0 #a7a7a7;}
.course-progress .progress-inner {cursor:pointer; position:relative; display:block; float:left; border:0; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; background:url(../imagesv1/bar-greydivider.png) right center no-repeat;}
.progress .bar-success {background-image: linear-gradient(bottom, #3892B5 0%, #4EBCE8 50%); background-image: -o-linear-gradient(bottom, #3892B5 0%, #4EBCE8 50%); background-image: -moz-linear-gradient(bottom, #3892B5 0%, #4EBCE8 50%); background-image: -webkit-linear-gradient(bottom, #3892B5 0%, #4EBCE8 50%); background-image: -ms-linear-gradient(bottom, #3892B5 0%, #4EBCE8 50%); background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3892B5), color-stop(0.5, #4EBCE8)); box-shadow:0 1px 0 #6ed8f1 inset, 0 1px 0 #468da9; -moz-box-shadow:0 1px 0 #6ed8f1 inset, 0 1px 0 #468da9; -webkit-box-shadow:0 1px 0 #6ed8f1 inset, 0 1px 0 #468da9;}
.progress .lesson-label, .progress .percentage-label {position:absolute; top:15%; left:50%; color:#fff; text-shadow:0 1px 0 #666; height:30px; width:auto;}
.progress .percentage-label {opacity:0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); font-weight:bold;}
.progress .progress-inner:hover .bar-success, .dashboard-entry .progress-wrapper.completed .bar-success {background-image: linear-gradient(bottom, #75A13C 0%, #9AD053 50%); background-image: -o-linear-gradient(bottom, #75A13C 0%, #9AD053 50%); background-image: -moz-linear-gradient(bottom, #75A13C 0%, #9AD053 50%); background-image: -webkit-linear-gradient(bottom, #75A13C 0%, #9AD053 50%); background-image: -ms-linear-gradient(bottom, #75A13C 0%, #9AD053 50%); background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #75A13C), color-stop(0.5, #9AD053)); box-shadow:0 1px 0 #c3e373 inset, 0 1px 0 #6c9d52; -moz-box-shadow:0 1px 0 #c3e373 inset, 0 1px 0 #6c9d52; -webkit-box-shadow:0 1px 0 #c3e373 inset, 0 1px 0 #6c9d52;}
.progress .progress-inner:hover .percentage-label {opacity:1; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);}
.progress .progress-inner:hover .lesson-label {opacity:0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
.progress-inner.completed .bar-success {background: #3892B5; background-image: url(../imagesv1/bar-bluedivider.png); /* fallback */ background-image: url(../imagesv1/bar-bluedivider.png), -webkit-gradient(linear, left bottom, left top, color-stop(0, #3892B5), color-stop(0.5, #4EBCE8)); /* Saf4+, Chrome */ background-image: url(../imagesv1/bar-bluedivider.png), -webkit-linear-gradient(bottom, #3892B5 0%, #4EBCE8 50%); /* Chrome 10+, Saf5.1+ */ background-image: url(../imagesv1/bar-bluedivider.png), -moz-linear-gradient(bottom, #3892B5 0%, #4EBCE8 50%); /* FF3.6+ */ background-image: url(../imagesv1/bar-bluedivider.png), -ms-linear-gradient(bottom, #3892B5 0%, #4EBCE8 50%); /* IE10 */ background-image: url(../imagesv1/bar-bluedivider.png), -o-linear-gradient(bottom, #3892B5 0%, #4EBCE8 50%); /* Opera 11.10+ */ background-image: url(../imagesv1/bluedivider.png), linear-gradient(bottom, #3892B5 0%, #4EBCE8 50%); /* W3C */ background-position:right center; background-repeat:no-repeat;}
.progress-inner.completed .bar-success:hover, .dashboard-entry .progress-wrapper.completed .bar-success {background: #75A13C; background-image: url(../imagesv1/bar-greendivider.png) !important; /* fallback */ background-image: url(../imagesv1/bar-greendivider.png), -webkit-gradient(linear, left bottom, left top, color-stop(0, #75A13C), color-stop(0.5, #9AD053)) !important; /* Saf4+, Chrome */ background-image: url(../imagesv1/bar-greendivider.png), -webkit-linear-gradient(bottom, #75A13C 0%, #9AD053 50%) !important; /* Chrome 10+, Saf5.1+ */ background-image: url(../imagesv1/bar-greendivider.png), -moz-linear-gradient(bottom, #75A13C 0%, #9AD053 50%) !important; /* FF3.6+ */ background-image: url(../imagesv1/bar-greendivider.png), -ms-linear-gradient(bottom, #75A13C 0%, #9AD053 50%) !important; /* IE10 */ background-image: url(../imagesv1/bar-greendivider.png), -o-linear-gradient(bottom, #75A13C 0%, #9AD053 50%) !important; /* Opera 11.10+ */ background-image: url(../imagesv1/greendivider.png), linear-gradient(bottom, #75A13C 0%, #9AD053 50%) !important; /* W3C */ background-position:right center; background-repeat:no-repeat;}


/* content front */
#maincontent {margin-top:0; padding:40px 0; background:#f4f9ff url(../imagesv1/bg-noise.png) repeat;}
#maincontent .container-fluid {padding:0 20px;}
#maincontent .heading-wrapper {color:#98d051; display:inline-block; font-family:'supermarketregular'; letter-spacing:1px; background:#f4f9ff url(../imagesv1/bg-noise.png); padding:5% 0; line-height:0.5;}
#maincontent .heading-wrapper div {display:inline-block; width:auto;}
.body-front #maincontent .heading-wrapper div {display:block;}
#maincontent .heading-wrapper .one.hidden-phone {font-size:6em; line-height:1.2;}
#maincontent .heading-wrapper .two.hidden-phone {font-size:3em; line-height:1;}
#maincontent .heading-wrapper .one.visible-phone {font-size:4em; line-height:1.2;}
#maincontent .heading-wrapper .two.visible-phone {font-size:2em; line-height:1;}
#maincontent .row-fluid.benefit {margin-bottom:40px;}
#maincontent .line-lightgrey-wrapper {margin-bottom:0;}
#maincontent p#title {font-family:'supermarketregular'; letter-spacing:1px; line-height:1.2; margin-bottom:5%;}
#maincontent p#detail {color:#888; font-size:16px;}
#search {height:100%; width:auto; margin:5% 0 0 0; overflow:hidden; padding:1.5% 5%;}
.body-front #search {background:#98d051 url(../imagesv1/bg-noise.png) repeat; border:1px solid #74a03c; box-shadow:0 1px #a8e35d inset; -moz-box-shadow:0 1px #a8e35d inset; -webkit-box-shadow:0 1px #a8e35d inset;}
#search input.text-input-search, #search input.text-button-search {height:50px !important; margin-bottom:0;}
#search input.text-input-search {margin-left:0 !important; background: #fff url(../imagesv1/icon-searchcourse.png) 10px 10px no-repeat; padding-left:50px !important; font-size:1.7em; color:#aaa; border:1px solid #74a03c; -moz-box-shadow:0 1px 0 #a8e35d; -webkit-box-shadow:0 1px 0 #a8e35d; box-shadow:0 1px 0 #a8e35d; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}
#search input.text-button-search {border:1px solid #678f35; border-left:0; background:url(../imagesv1/btn-bg-search.png) center 0 no-repeat; text-indent:-10000px; -webkit-border-top-left-radius:0; -webkit-border-bottom-left-radius:0; -moz-border-radius-topleft:0; -moz-border-radius-bottomleft:0; border-top-left-radius:0; border-bottom-left-radius:0;}
#search input.text-button-search:hover {background:url(../imagesv1/btn-bg-search-hover.png) center 0 no-repeat; border:1px solid #2e7b9a; border-left:0;}
.row-course {margin-bottom:15px;}
#search input.text-button-searchphone {border:1px solid #678f35; background:url(../imagesv1/btn-bg-darkgreen.png) repeat-x; color:#fff; text-shadow:0 1px 0 #666; padding:2% 0; margin-top:5%; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; font-family:'supermarketregular'; letter-spacing:1px; font-size:1.8em;}
#search input.text-button-searchphone:hover {border:1px solid #678f35; border-left:0; background:url(../imagesv1/btn-bg-blue.png) repeat-x;}
.course-card {background:#f3f3f3 url(../imagesv1/bg-noise.png) repeat; padding:10px; border:1px solid #ccc; -moz-box-shadow:0 0 5px #ccc; -webkit-box-shadow:0 0 5px #ccc; box-shadow:0 0 5px #ccc; position:relative; margin-bottom:25px;}
.course-card:hover {-moz-box-shadow:0 0 5px 5px #4DBCE9; -webkit-box-shadow:0 0 5px 5px #4DBCE9; box-shadow:0 0 5px 5px #4DBCE9;}
.course-card .ribbon-featured {display:block; width:65px; height:65px; position:absolute; top:-5px; right:-6px; background:url(../imagesv1/sprite.png) -220px -70px no-repeat; z-index:5;}
.course-card .ribbon-new {display:block; width:65px; height:65px; position:absolute; top:-5px; right:-6px; background:url(../imagesv1/sprite.png) -300px -70px no-repeat; z-index:5;}
.course-card .float-box {margin:0; width:100%; bottom:0; height:25%; opacity:1; background:url(../imagesv1/bg-alphablack.png) repeat;}
.course-card .text-inbox {height:20px !important; min-height:0; color:#fff; text-shadow:none; width:auto; padding:2px 10px; display:inline-block;}
.course-card .float-box .span2 {display:block; width:20px; height:20px; padding-left:24px; margin-right:8%; color:#fff; text-shadow:none; margin-top:15px;}
.course-card .icon-wrapper {float:right; width:auto; display:inline-block; margin:12px 10px 0 0; color:#fff; text-shadow:none;}
.course-card .icon-lesson {background:url(../imagesv1/sprite.png) -290px 0 no-repeat; margin-right:10px; padding-left:25px; display:inline-block; width:auto;}
.course-card .icon-quiz {background:url(../imagesv1/sprite.png) -360px 0 no-repeat; margin-right:0; padding-left:25px; display:inline-block; width:auto;}
.course-card .title {font-family:'supermarketregular'; letter-spacing:1px; font-size:2.2em; font-weight:normal; margin-top:25px;}
.course-card .text-info {color:#666;}
.course-card hr {margin:5% 0 3% 0;}
.course-card .course-footer {color:#999; font-size:1.2em; font-style:italic; vertical-align:text-top;}
.course-card .icon-teacher {background:url(../imagesv1/sprite.png) -630px -117px no-repeat; padding-left:20px; line-height:1.2; height:auto; display:inline-block; width:auto; margin-right:20px; float:left;}
.course-card .icon-student {background:url(../imagesv1/sprite.png) -630px -87px no-repeat; padding-left:20px; line-height:1.2; height:auto; display:inline-block; width:auto; float:left;}
.course-card .price {vertical-align:top; font-style:normal; font-weight:bold; color:#4dbce9; display:inline-block; width:auto; float:right;}
.btn-center-wrapper {display:block; padding:0 15px; background:#f4f9ff url(../imagesv1/bg-noise.png) repeat; margin:-20px auto 0 auto;}


/* content allcourses */
.body-allcourses #search {background:#666 url(../imagesv1/bg-noise.png) repeat; border:1px solid #666; box-shadow:0 1px #aaa inset; -moz-box-shadow:0 1px #aaa inset; -webkit-box-shadow:0 1px #aaa inset;}
.body-allcourses #search input.text-input-search {border:1px solid #666; border-right:0; -moz-box-shadow:0 1px 0 #aaa; -webkit-box-shadow:0 1px 0 #aaa; box-shadow:0 1px 0 #aaa;}
.body-allcourses #search input.text-button-search {border:1px solid #437113; -moz-box-shadow:0 1px 0 #74a03c; -webkit-box-shadow:0 1px 0 #74a03c; box-shadow:0 1px 0 #74a03c;}
.body-allcourses #search input.text-button-search:hover {border:1px solid #2e7b9a; -moz-box-shadow:0 1px 0 #63aac6; -webkit-box-shadow:0 1px 0 #63aac6; box-shadow:0 1px 0 #63aac6;}
.btn-bg {background: #666; background-image: url(../imagesv1/bg-noise.png); /* fallback */ background-image: url(../imagesv1/bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(#888), to(#666)); /* Saf4+, Chrome */ background-image: url(../imagesv1/bg-noise.png), -webkit-linear-gradient(top, #888, #666); /* Chrome 10+, Saf5.1+ */ background-image: url(../imagesv1/bg-noise.png), -moz-linear-gradient(top, #888, #666); /* FF3.6+ */ background-image: url(../imagesv1/bg-noise.png), -ms-linear-gradient(top, #888, #666); /* IE10 */ background-image: url(../imagesv1/bg-noise.png), -o-linear-gradient(top, #888, #666); /* Opera 11.10+ */ background-image: url(../imagesv1/bg-noise.png), linear-gradient(top, #888, #666); /* W3C */ font-family:'supermarketregular' !important; font-size: 18px !important; line-height: 20px !important; letter-spacing:1px !important; text-shadow:0 1px 0 #333 !important; color:#FFF !important; font-weight: normal !important;}
.btn-bg.active, .btn-bg:hover, .btn-bg:focus, .btn-group.open .btn-bg {background: #444; background-image: url(../imagesv1/bg-noise.png); /* fallback */ background-image: url(../imagesv1/bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(#666), to(#444)); /* Saf4+, Chrome */ background-image: url(../imagesv1/bg-noise.png), -webkit-linear-gradient(top, #666, #444); /* Chrome 10+, Saf5.1+ */ background-image: url(../imagesv1/bg-noise.png), -moz-linear-gradient(top, #666, #444); /* FF3.6+ */ background-image: url(../imagesv1/bg-noise.png), -ms-linear-gradient(top, #666, #444); /* IE10 */ background-image: url(../imagesv1/bg-noise.png), -o-linear-gradient(top, #666, #444); /* Opera 11.10+ */ background-image: url(../imagesv1/bg-noise.png), linear-gradient(top, #666, #444); /* W3C */}
.body-allcourses .btn-center-wrapper {margin:0;}
.body-allcourses #menu-button-list {margin:0;}


/* content login */
.icon-warning-sign {background:url(../imagesv1/sprite.png) 0 -100px no-repeat; width:16px; height:16px;}
.alert { -moz-box-shadow:0 0 5px 1px #ddd; -webkit-box-shadow:0 0 5px 1px #ddd; box-shadow:0 0 5px 1px #ddd; border:1px solid #4dbce9;}


/* content coursedetails */
.apply-block .btn-center-wrapper {margin:0 !important;}
.apply-block .btn-apply-gray, .apply-block .btn-apply-green {padding:0 20px;}
.white-box .line-lightgrey-wrapper {background:url(../imagesv1/line-white.png) 0 50% repeat-x;}
.chapter-list ul li {list-style-type:square;}
.comment-button {display:block; font-size:1.2em; font-weight:normal !important; padding:10px 0 5px 0; background: #666; background-image: url(../imagesv1/bg-noise.png); /* fallback */ background-image: url(../imagesv1/bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(#888), to(#666)); /* Saf4+, Chrome */ background-image: url(../imagesv1/bg-noise.png), -webkit-linear-gradient(top, #888, #666); /* Chrome 10+, Saf5.1+ */ background-image: url(../imagesv1/bg-noise.png), -moz-linear-gradient(top, #888, #666); /* FF3.6+ */ background-image: url(../imagesv1/bg-noise.png), -ms-linear-gradient(top, #888, #666); /* IE10 */ background-image: url(../imagesv1/bg-noise.png), -o-linear-gradient(top, #888, #666); /* Opera 11.10+ */ background-image: url(../imagesv1/bg-noise.png), linear-gradient(top, #888, #666); /* W3C */ text-shadow:0 1px 0 #000 !important; box-shadow:0 1px #aaa inset; -moz-box-shadow:0 1px #aaa inset; -webkit-box-shadow:0 1px #aaa inset; border:1px solid #666;}
.comment-button:hover {color:#fff; text-decoration:none; background: #444; background-image: url(../imagesv1/bg-noise.png); /* fallback */ background-image: url(../imagesv1/bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(#666), to(#444)); /* Saf4+, Chrome */ background-image: url(../imagesv1/bg-noise.png), -webkit-linear-gradient(top, #666, #444); /* Chrome 10+, Saf5.1+ */ background-image: url(../imagesv1/bg-noise.png), -moz-linear-gradient(top, #666, #444); /* FF3.6+ */ background-image: url(../imagesv1/bg-noise.png), -ms-linear-gradient(top, #666, #444); /* IE10 */ background-image: url(../imagesv1/bg-noise.png), -o-linear-gradient(top, #666, #444); /* Opera 11.10+ */ background-image: url(../imagesv1/bg-noise.png), linear-gradient(top, #666, #444); /* W3C */ text-shadow:0 1px 0 #000 !important; box-shadow:0 1px 0 #aaa inset; -moz-box-shadow:0 1px 0 #aaa inset; -webkit-box-shadow:0 1px 0 #aaa inset; border:1px solid #444;}
.comment-button .icon-chevron-right {vertical-align:top;}
.comment-box-title img, .enrolled-pic {width:70px !important; height:70px; border:1px solid #999; -moz-box-shadow:0 1px 0 #fff; -webkit-box-shadow:0 1px 0 #fff; box-shadow:0 1px 0 #fff;}
.comment-title {padding:15px 0;}
h1, h2 {margin-bottom:0;}
.content-right-gray-box {margin-bottom:50px}
.content-right-gray-box .block-course {width:70px; height:70px;}


/* content learning */
.tab-learning #chapter-group {position:relative;}
.tab-learning .nav-tabs {margin:0;}
.tab-learning .nav-tabs li a {color:#fff; text-shadow:0 1px 1px #333; font-family:'supermarketregular'; font-size:1.25em; padding:20px 40px 10px 40px; background: #444; background-image: url(../imagesv1/bg-noise.png); /* fallback */ background-image: url(../imagesv1/bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(#666), to(#444)); /* Saf4+, Chrome */ background-image: url(../imagesv1/bg-noise.png), -webkit-linear-gradient(top, #666, #444); /* Chrome 10+, Saf5.1+ */ background-image: url(../imagesv1/bg-noise.png), -moz-linear-gradient(top, #666, #444); /* FF3.6+ */ background-image: url(../imagesv1/bg-noise.png), -ms-linear-gradient(top, #666, #444); /* IE10 */ background-image: url(../imagesv1/bg-noise.png), -o-linear-gradient(top, #666, #444); /* Opera 11.10+ */ background-image: url(../imagesv1/bg-noise.png), linear-gradient(top, #666, #444); /* W3C */ box-shadow:0 1px 0 #999 inset; -moz-box-shadow:0 1px 0 #999 inset; -webkit-box-shadow:0 1px 0 #999 inset;}
.tab-learning .nav-tabs li.active a {background:#f3f3f3 url(../imagesv1/bg-noise.png) !important; box-shadow:0 1px 0 #fff inset; -moz-box-shadow:0 1px 0 #fff inset; -webkit-box-shadow:0 1px 0 #fff inset; color:#666; text-shadow:0 1px 0 #fff;}
.tab-learning .nav-tabs li a:hover {border:1px solid #333; background:#555 url(../imagesv1/bg-noise.png);}
.tab-learning .nav-tabs li.active a:hover {border:1px solid #ddd; border-bottom:1px solid #f0f0f0;}
.tab-learning .nav-tabs li.new {position:relative;}
.tab-learning .nav-tabs li.new .ribbon {position:absolute; right:0; top:-1px; display:block; width:47px; height:50px; background:url(../imagesv1/sprite.png) -400px -70px no-repeat;}
.tab-learning .tabs-more {position:absolute; right:0; bottom:0;}
.tab-learning .tabs-more div {display:inline-block; width:20px; height:30px; cursor:pointer;}
.tab-learning .tabs-more .left.enable, .tab-learning .tabs-more .left:hover {background:url(../imagesv1/sprite.png) -190px -260px no-repeat !important;}
.tab-learning .tabs-more .right.enable, .tab-learning .tabs-more .right:hover {background:url(../imagesv1/sprite.png) -220px -260px no-repeat !important;}
.tab-learning .tabs-more .left.disable {background:url(../imagesv1/sprite.png) -250px -260px no-repeat;}
.tab-learning .tabs-more .right.disable {background:url(../imagesv1/sprite.png) -280px -260px no-repeat;}
.tab-learning .tab-content {background:#f3f3f3 url(../imagesv1/bg-noise.png); border:1px solid #ccc; border-top:0; padding-top:30px !important; padding-bottom:30px important;}
.tab-learning .chapter-title {background:#79b42c; display:inline-block; width:auto; padding:10px; margin-left:-20px !important; margin-bottom:40px; color:#fff; text-shadow:0 1px 1px #666; font-family:'supermarket'; letter-spacing:1px; font-size:1.7em;}
.tab-learning .lesson-links {margin-left:-10px; width:85%;}
.tab-learning .lesson-links li {display:block; list-style:none; background:#f9f9f9; width:100%; padding:10px 20px 10px 10px; border:1px solid #ddd; box-shadow:0 1px 5px #ccc; -moz-box-shadow:0 1px 5px #ccc; -webkit-box-shadow:0 1px 5px #ccc;}
.tab-learning .lesson-links li.link-type-info {border-left:10px solid #98d051;}
.tab-learning .lesson-links li.link-type-quiz {border-left:10px solid #4dbce9;}
.tab-learning .lesson-links li.link-type-comment {border-left:10px solid #f70;}
.tab-learning .lesson-links li.completed {background:#f3f3f3 url(../imagesv1/icon-lessoncomplete.png) 98% 55% no-repeat;}
.tab-learning .lesson-links li:hover {background:#eee;}
.tab-learning .lesson-links li.completed:hover {background:#eee url(../imagesv1/icon-lessoncomplete.png) 98% 55% no-repeat;}
.tab-learning .lesson-links li:hover a {text-decoration:none;}
.tab-learning .lesson-links li a {display:block; color:#555; text-shadow:0 1px 0 #fff;}
.tab-learning .lesson-links li.completed a {color:#aaa;}
.tab-learning .lesson-links li i {width:16px; height:17px; margin-right:10px;}
.tab-learning .lesson-links li.completed i {opacity:5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);}
.tab-learning .lesson-links li .icon-slide {background:url(../imagesv1/sprite.png) 0 -190px no-repeat;}
.tab-learning .lesson-links li .icon-video {background:url(../imagesv1/sprite.png) -30px -190px no-repeat;}
.tab-learning .lesson-links li .icon-sound {background:url(../imagesv1/sprite.png) -60px -190px no-repeat;}
.tab-learning .lesson-links li .icon-quiz {background:url(../imagesv1/sprite.png) -90px -190px no-repeat;}
.tab-learning .lesson-links li .icon-comment {background:url(../imagesv1/sprite.png) -120px -190px no-repeat;}
.tab-learning .lesson-links li.completed  .icon-slide {background:url(../imagesv1/sprite.png) -150px -190px no-repeat;}
.tab-learning .lesson-links li.completed  .icon-video {background:url(../imagesv1/sprite.png) -180px -190px no-repeat;}
.tab-learning .lesson-links li.completed  .icon-sound {background:url(../imagesv1/sprite.png) -210px -190px no-repeat;}
.tab-learning .lesson-links li.completed  .icon-quiz {background:url(../imagesv1/sprite.png) -240px -190px no-repeat;}
.tab-learning .lesson-links li.completed  .icon-comment {background:url(../imagesv1/sprite.png) -270px -190px no-repeat;}
.tab-learning .lesson-links li.active {margin-left:-10px; width:110%;}
.tab-learning .lesson-links li.link-type-info.active {background:#f4ffe7;}
.tab-learning .lesson-links li.link-type-quiz.active {background:#e3f7ff;}
.tab-learning .lesson-links li.link-type-comment.active {background:#fff5ec;}
.tab-learning .lesson-content-wrapper {background:#f9f9f9; padding:30px 10px; margin-bottom:40px; border:1px solid #ccc; box-shadow:0 1px 5px #ccc; -moz-box-shadow:0 1px 5px #ccc; -webkit-box-shadow:0 1px 5px #ccc;}
.tab-learning .lesson-content-title {font-size:3.5em; font-family:'supermarketregular'; letter-spacing:1px; color:#555; text-shadow:0 1px 0 #fff; line-height:1; border-bottom:1px solid #ddd;}
.tab-learning .lesson-content-title span {display:inline-block; width:33px; height:33px; vertical-align:bottom; vertical-align:middle;}
.tab-learning .lesson-content-title .icon-green-video {background:url(../imagesv1/sprite.png) 0 -260px no-repeat;}
.tab-learning .lesson-content-title .icon-green-comment {background:url(../imagesv1/sprite.png) -140px -220px no-repeat;}
.tab-learning .lesson-content-title .icon-green-quiz {background:url(../imagesv1/sprite.png) -140px -260px no-repeat;}
.tab-learning .lesson-content-title .icon-green-sound {background:url(../imagesv1/sprite.png) -40px -260px no-repeat;}
.tab-learning .lesson-content-title .icon-green-slide {background:url(../imagesv1/sprite.png) -90px -260px no-repeat;}
.tab-learning .lesson-content {border-top:1px solid #fff; padding-top:20px;}
.tab-learning .lesson-type-comment .lesson-content-title {position:relative;}
.tab-learning .lesson-type-comment .lesson-content-title .btn-bg {position:absolute; top:3%; right:2%; font-size:20px !important; padding:10px 15px 5px 15px;}
.tab-learning .comment-entry {border-bottom:1px solid #ddd; border-top:1px solid #fff; padding:20px;}
.tab-learning .comment-entry.first {border-top:0;}
.tab-learning .comment-entry .comment-entry-text {margin:10px 0;}
.tab-learning .comment-entry .comment-author-wrapper {display:block; background:#efefef; min-height:70px; margin-right:-30px;}
.tab-learning .comment-entry .comment-author-details {float:left; vertical-align:middle; padding-top:15px;}
.tab-learning .comment-entry .comment-author-img {float:left; margin:10px 20px 0 10px;}
.tab-learning .comment-entry .comment-author-img img {width:50px; height:50px;}
.tab-learning .comment-entry .comment-author-name {font-family:'supermarketregular'; letter-spacing:1px; color:#4b8013; font-size:1.7em; line-height:1;}
.tab-learning .comment-entry .comment-author-date {color:#999;}
.loader {display:block; background:#f3f3f3; border:1px solid #e8e8e8; box-shadow:0 1px 0 #fff; -moz-box-shadow:0 1px 0 #fff; -webkit-box-shadow:0 1px 0 #fff; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; margin:30px 0; text-align:center; padding:20px 0; color:#aaa;}
.tab-learning .lesson-type-download {margin-top:-30px;}
.tab-learning .download-title {display:inline-block; width:auto; padding:5px 20px 5px 10px; background:#4dbce9; font-family:'supermarketregular'; letter-spacing:1px; color:#fff; text-shadow:0 1px 1px #888; font-size:1.7em; margin-left:-10px;}
.tab-learning .icon-white-download {display:inline-block; width:20px; height:20px; background:url(../imagesv1/sprite.png) 0 -125px no-repeat;}
.tab-learning .download-item {display:inline-block; margin-right:20px; padding:10px;}
.tab-learning .download-item:hover {background:#eee; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; cursor:pointer;}
.tab-learning .download-item .file-type-text {display:inline-block; width:35px; height:35px; background:url(../imagesv1/sprite.png) -358px -257px no-repeat;}
.tab-learning .download-item .file-type-video {display:inline-block; width:35px; height:35px; background:url(../imagesv1/sprite.png) -307px -258px no-repeat;}
.tab-learning .download-item .file-type-sound {display:inline-block; width:35px; height:35px; background:url(../imagesv1/sprite.png) -309px -216px no-repeat;}
.tab-learning .download-item .file-type-slide {display:inline-block; width:35px; height:35px; background:url(../imagesv1/sprite.png) -358px -220px no-repeat;}
.tab-learning .download-item .file-details {display:inline-block; margin-left:5px;}
.tab-learning .download-item .file-name {font-size:1.2em;}
.tab-learning .download-item .file-size {color:#4b8013;}
.tab-learning .sound-wrapper {margin-left:60px;}
.tab-learning .quiz-question {margin-bottom:20px;}
.tab-learning .quiz-question .question-title-wrapper	 {font-size:1.2em; margin-bottom:20px;}
.tab-learning .quiz-question .question-title-tag {display:inline-block; width:auto; padding:10px 20px 5px 10px; background:#4dbce9; font-family:'supermarketregular'; letter-spacing:1px; color:#fff; text-shadow:0 1px 1px #888; font-size:1.5em; margin:0 0 0 -10px;}
.tab-learning .quiz-question .question-title {line-height:2;}
.tab-learning .quiz-answer {padding-left:60px; margin-bottom:40px; background:url(../imagesv1/icon-quiz.png) top left no-repeat;}
.tab-learning .quiz-answer textarea {width:98%;}
.tab-learning .quiz-answer .btn-group-quiz {margin-left:40px;}
.tab-learning .quiz-answer .btn-group-quiz .btn {display:block; margin-bottom:10px;}
.tab-learning .quiz-wrapper .btn-green {float:right; padding:10px 15px 5px 15px; font-size:1.5em !important; height:auto; margin-top:0; line-height:20px;}
.tab-learning .quiz-wrapper .btn-bg {float:left; padding:10px 15px 5px 15px; font-size:1.5em !important; height:auto;}
.tab-learning .question-score-tag {text-align:right;}
.tab-learning .question-score {display:inline-block; width:auto; padding:30px 20px 5px 10px; background:#98d051; font-family:'supermarketregular'; letter-spacing:1px; color:#fff; text-shadow:0 1px 1px #888; font-size:1.5em; margin:0 -47px 0 0;}
.tab-learning .question-score .score-earn {font-size:3em;}
.tab-learning .quiz-result {margin-bottom:40px;}
.tab-learning .quiz-result .quiz-result-row {border-bottom:1px solid #ddd; border-top:1px solid #fff; padding:30px 0;}
.tab-learning .quiz-result .quiz-result-row.first {border-top:0;}
.tab-learning .quiz-result .quiz-result-row.correct {background:url(../imagesv1/icon-result-correct.png) right center no-repeat;}
.tab-learning .quiz-result .quiz-result-row.incorrect {background:url(../imagesv1/icon-result-incorrect.png) right center no-repeat;}
.tab-learning .quiz-result .question-title-tag {display:inline-block; width:auto; padding:10px 10px 5px 10px; background:#aaa; font-family:'supermarketregular'; letter-spacing:1px; color:#fff; text-shadow:0 1px 1px #888; font-size:1.5em; margin:0 0 0 -10px;}
.tab-learning .question-result-text {margin-bottom:5px;}
.tab-learning .question-result-text.correct, .tab-learning .question-result-text.explain {color:#4b8013;}
.tab-learning .question-result-text.incorrect {color:#ed1c24;}
.tab-learning .question-result-text i {width:16px; height:18px; margin-right:5px;}
.tab-learning .question-result-text .icon-question {background:url(../imagesv1/sprite.png) -300px -190px no-repeat;}
.tab-learning .question-result-text .icon-answer {background:url(../imagesv1/sprite.png) -330px -190px no-repeat;}
.tab-learning .question-result-text .icon-result {background:url(../imagesv1/sprite.png) -360px -190px no-repeat;}
.tab-learning .question-result-text .icon-explain {background:url(../imagesv1/sprite.png) -390px -190px no-repeat;}
.tab-learning .quiz-indicators {display:inline-block; width:100%; text-align:center; margin:20px 0;}
.tab-learning .quiz-indicators li {display:inline-block; width:10px; height:10px; background:url(../imagesv1/sprite.png) 0 -70px no-repeat; cursor:pointer;}
.tab-learning .quiz-indicators li.active {background:url(../imagesv1/sprite.png) -20px -70px no-repeat;}
.tab-learning .quiz-indicators li.completed {background:url(../imagesv1/sprite.png) -40px -70px no-repeat;}
.tab-learning .quiz-indicators li a {display:block;}


/* content dashboard */
#dashboard-wrapper #dashboard-header {text-align:center; margin-bottom:50px;}
#dashboard-wrapper .icon-green-mycourse {display:inline-block; width:28px; height:33px; vertical-align:bottom; vertical-align:middle; background:url(../imagesv1/sprite.png) -275px -220px no-repeat;}
#dashboard-wrapper #menu-button-list {margin:0;}
#dashboard-wrapper #menu-button-list .heading-wrapper {padding:3% 0;}
#dashboard-wrapper #menu-button-list .btn-center-wrapper {margin:0;}
#dashboard-wrapper .dashboard-entry {margin-bottom:60px;}
#dashboard-wrapper .dashboard-entry .course-details {padding-top:10px;}
#dashboard-wrapper .dashboard-entry .course-name {color:#4b8013; font-family:'supermarketregular'; letter-spacing:1px; font-size:2.5em; line-height:1;}
#dashboard-wrapper .dashboard-entry .course-teacher {color:#555; font-family:'supermarketregular'; letter-spacing:1px; font-size:1.7em; line-height:1.2;}
#dashboard-wrapper .dashboard-entry .course-img {border:10px solid #f3f3f3; box-shadow:0 1px 5px #999; -moz-box-shadow:0 1px 5px #999; -webkit-box-shadow:0 1px 5px #999;}
#dashboard-wrapper .dashboard-entry .course-progress {margin-top:30px;}
#dashboard-wrapper .btn-green {font-size:24px !important; height:auto; margin-top:0; line-height:20px; display:inline-block;}
#dashboard-wrapper .btn-green.complete {background: #5a7585; background-image: url(../imagesv1/bg-noise.png); /* fallback */ background-image: url(../imagesv1/bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(#829eae), to(#5a7585)); /* Saf4+, Chrome */ background-image: url(../imagesv1/bg-noise.png), -webkit-linear-gradient(top, #829eae, #5a7585); /* Chrome 10+, Saf5.1+ */ background-image: url(../imagesv1/bg-noise.png), -moz-linear-gradient(top, #829eae, #5a7585); /* FF3.6+ */ background-image: url(../imagesv1/bg-noise.png), -ms-linear-gradient(top, #829eae, #5a7585); /* IE10 */ background-image: url(../imagesv1/bg-noise.png), -o-linear-gradient(top, #829eae, #5a7585); /* Opera 11.10+ */ background-image: url(../imagesv1/bg-noise.png), linear-gradient(top, #829eae, #5a7585); /* W3C */ border:1px solid #5a7585; box-shadow:0 1px #bccad3 inset; -moz-box-shadow:0 1px #bccad3 inset; -webkit-box-shadow:0 1px #bccad3 inset;}
#dashboard-wrapper .btn-green.complete:hover {background: #378fb3; background-image: url(../imagesv1/bg-noise.png); /* fallback */ background-image: url(../imagesv1/bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(#4dbce9), to(#378fb3)); /* Saf4+, Chrome */ background-image: url(../imagesv1/bg-noise.png), -webkit-linear-gradient(top, #4dbce9, #378fb3); /* Chrome 10+, Saf5.1+ */ background-image: url(../imagesv1/bg-noise.png), -moz-linear-gradient(top, #4dbce9, #378fb3); /* FF3.6+ */ background-image: url(../imagesv1/bg-noise.png), -ms-linear-gradient(top, #4dbce9, #378fb3); /* IE10 */ background-image: url(../imagesv1/bg-noise.png), -o-linear-gradient(top, #4dbce9, #378fb3); /* Opera 11.10+ */ background-image: url(../imagesv1/bg-noise.png), linear-gradient(top, #4dbce9, #378fb3); /* W3C */ border:1px solid #2e7b9a;}
#dashboard-wrapper .btn-group .btn-bg {font-size:24px !important;}
#dashboard-wrapper .course-progress .progress-wrapper {border:1px solid #afafaf; box-shadow:0 1px 0 #eee inset, 0 1px 0 #fff; -moz-box-shadow:0 1px 0 #eee inset, 0 1px 0 #fff; -webkit-box-shadow:0 1px 0 #eee inset, 0 1px 0 #fff;}


/* content error */
.img-error {position:relative; display:block;}
.img-error span {margin:10px;}
.img-error-links {position:absolute; bottom:34%; left:38%; font-size:1.2em; display:block;}


/* pagination */
.page-button {line-height:2.5em; display:inline-block; width:auto; margin-bottom:20px; padding:0 15px !important; background: #666; background-image: url(../imagesv1/bg-noise.png); /* fallback */ background-image: url(../imagesv1/bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(#888), to(#666)); /* Saf4+, Chrome */ background-image: url(../imagesv1/bg-noise.png), -webkit-linear-gradient(top, #888, #666); /* Chrome 10+, Saf5.1+ */ background-image: url(../imagesv1/bg-noise.png), -moz-linear-gradient(top, #888, #666); /* FF3.6+ */ background-image: url(../imagesv1/bg-noise.png), -ms-linear-gradient(top, #888, #666); /* IE10 */ background-image: url(../imagesv1/bg-noise.png), -o-linear-gradient(top, #888, #666); /* Opera 11.10+ */ background-image: url(../imagesv1/bg-noise.png), linear-gradient(top, #888, #666); /* W3C */ border:1px solid #666; cursor:pointer;  color:#fff;}
.page-button.active, .page-button:hover {background: #444; background-image: url(../imagesv1/bg-noise.png); /* fallback */ background-image: url(../imagesv1/bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(#666), to(#444)); /* Saf4+, Chrome */ background-image: url(../imagesv1/bg-noise.png), -webkit-linear-gradient(top, #666, #444); /* Chrome 10+, Saf5.1+ */ background-image: url(../imagesv1/bg-noise.png), -moz-linear-gradient(top, #666, #444); /* FF3.6+ */ background-image: url(../imagesv1/bg-noise.png), -ms-linear-gradient(top, #666, #444); /* IE10 */ background-image: url(../imagesv1/bg-noise.png), -o-linear-gradient(top, #666, #444); /* Opera 11.10+ */ background-image: url(../imagesv1/bg-noise.png), linear-gradient(top, #666, #444); /* W3C */ border:1px solid #333;  color:#98d051; text-decoration:none;}
.page-button.active {cursor:default;}
.page-button-disable, page-button-disable:hover {background:#e2e2e2 url(../imagesv1/bg-noise.png) !important; box-shadow:0 1px 5px #999 inset; -moz-box-shadow:0 1px 5px #999 inset; -webkit-box-shadow:0 1px 5px #999; border:1px solid #b8b8b8 !important; box-shadow:0 1px #fff; -moz-box-shadow:0 1px 5px #999 inset; -webkit-box-shadow:0 1px 5px #999; cursor:default;}
.page-button span {display:inline-block; width:20px; height:40px; text-indent:-10000px;}
.page-button span.first {background:url(../imagesv1/sprite.png) 0 -145px no-repeat;}
.page-button span.previous {background:url(../imagesv1/sprite.png) -45px -145px no-repeat;}
.page-button span.next {background:url(../imagesv1/sprite.png) -85px -145px no-repeat;}
.page-button span.last {background:url(../imagesv1/sprite.png) -130px -145px no-repeat;}
.page-button-disable span.first {background:url(../imagesv1/sprite.png) -180px -145px no-repeat;}
.page-button-disable span.previous {background:url(../imagesv1/sprite.png) -225px -145px no-repeat;}
.page-button-disable span.next {background:url(../imagesv1/sprite.png) -265px -145px no-repeat;}
.page-button-disable span.last {background:url(../imagesv1/sprite.png) -310px -145px no-repeat;}
.page-button.first {margin-left:0;}
.page-button.first, .page-button.previous, .page-button.next, .page-button.last {padding:0 10px !important;}


/* prefooter */
#prefooter {background:#888 url(../imagesv1/bg-noise.png) repeat; border-bottom:1px solid #333;}
#prefooter .titleprefooter {text-shadow:0 1px 1px #555; font-family:'supermarketregular'; letter-spacing:1px; font-size:2.5em; color:#6DCFF6; background:#888 url(../imagesv1/bg-noise.png) repeat; width:auto; padding:0 15px; display:inline-block;}
#prefooter .line-lightgrey-wrapper {background:url(../imagesv1/line-darkgrey.png)0 50% repeat-x; height:auto; margin:2% 0;}
#prefooter .carousel-control { width:50px; height:50px; text-indent:-10000px; border:0; outline:0; top:50%;}
#prefooter .carousel-control.left {background:url(../imagesv1/sprite.png) -400px 0 no-repeat;}
#prefooter .carousel-control.right {background:url(../imagesv1/sprite.png) -470px 0 no-repeat;}
.testi-wrapper {display:block; position:relative; vertical-align:bottom; float:right;}
.testi-header {display:block; width:372px; height:19px; background:url(../imagesv1/bg-testientry-top.png) no-repeat;}
.testi-footer {display:block; width:372px; height:19px; background:url(../imagesv1/bg-testientry-bottom.png) no-repeat;}
.testi-body {display:block; width:342px; padding: 0 15px; background:url(../imagesv1/bg-testientry-body.png) repeat-y; font-size:1.2em; line-height:1.2; color:#fff; text-shadow:0 1px 1px #555;}
.testi-arrow {display:block; width:20px; height:25px; position:absolute; bottom:20px; left:-18px; z-index:5; background:url(../imagesv1/bg-testientry-arrow.png) no-repeat;}
.testimonials {height:360px; background:url(../imagesv1/shadow-bottom.png) center bottom no-repeat;}
.testimonials .carousel-inner {width:100%; left:0; top:30px; height:263px;}
.testimonials .picture {float:left; height:70px; width:70px; position:absolute; bottom:0; left:-100px; -moz-box-shadow:0 1px 0 #ccc; -webkit-box-shadow:0 1px 0 #ccc; box-shadow:0 1px 0 #ccc;}
.testimonials .picture img {margin-top:0;}
.testi-user {width:100%; margin-top:20px; text-shadow:0 1px 1px #555;}
.testi-user .user-name {font-family:'supermarketregular'; letter-spacing:1px; color:#b6ef6f; font-size:2em;}
.testi-user .user-info {color:#fff; font-size:1em; font-style:italic;}
.testi-user .user-info span {margin-right:20px;}


/* footer */
#footer {padding:30px 0 0 0; border-top:1px solid #888; background:#333 url(../imagesv1/bg-noise.png) repeat; color:#ccc; text-shadow:0 -1px 0 #000; height:100%;}
#footer .container-fluid .container {}
#footer .sitename {margin-left:0 !important;}
#footer .span3 {background:url(../imagesv1/bg-footerlogo.png) no-repeat; display:block; height:200px; padding-top:70px; margin-top:-20px;}
#footer .footer-title {font-weight:normal; text-transform:uppercase; font-size:1.3em; border-bottom:1px solid #222; padding-bottom:5px; margin-top:20px;}
#footer .footer-title span {display:inline-block; width:20px; height:20px; margin-right:5px;}
#footer .footer-content {border-top:1px solid #444; padding-top:10px; margin-bottom:60px;}
#footer p {font-size:1.1em;}
#footer .icon-about {background:url(../imagesv1/sprite.png) -630px 0 no-repeat;}
#footer .icon-links {background:url(../imagesv1/sprite.png) -630px -30px no-repeat;}
#footer .icon-social {background:url(../imagesv1/sprite.png) -630px -60px no-repeat;}
#footer a {color:#eee;}
#footer a:hover {text-decoration:underline;}
#footer .link-twitter {display:inline-block; width:30px; height:25px; background:url(../imagesv1/sprite.png) -540px 0 no-repeat; margin-right:10px;}
#footer .link-twitter:hover {background:url(../imagesv1/sprite.png) -540px -40px no-repeat;}
#footer .link-facebook {display:inline-block; width:15px; height:25px; background:url(../imagesv1/sprite.png) -590px 0 no-repeat;}
#footer .link-facebook:hover {background:url(../imagesv1/sprite.png) -590px -40px no-repeat;}
#footer .cpr {margin-top:20px;}
#footer .cpr, #footer .cpr a {color:#888; font-size:1em;}
