.file-uploader-container
{  
	line-height:27px;
   vertical-align:middle;
}

.file-upload-btn
{
    position:relative;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.file-name
{
    border:1px solid #CCC !important;
    -webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;    
    width:45% !important;    
    height:28px !important;
    vertical-align:middle;
    background:#F8F7F0;
    position:relative;    
	background-color: #FFF !important;	
	float: left;
}

.file-name-text
{
    position:absolute;
    left:10px;
    vertical-align:middle;
	color: #FFF;
	font-size: 14px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.file-file
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    opacity:0;
    filter:alpha(opacity=0);
}
.file-done-btn{
    -webkit-border-radius: 0 4px 4px 0 !important;
	-moz-border-radius: 0 4px 4px 0 !important;
	border-radius: 0 4px 4px 0 !important;   
	padding: 4px 12px !important; 
}